<img class="portrait" src="{{img}}" alt="{{name}}">
<header>
    <h4>
        {{{link}}}
        {{#if count}}<span class="count">(x{{count}})</span>{{/if}}
    </h4>
    <div class="meta">
        <span class="threat">{{localize "ACTOR.LevelSpecific" level=threat}}</span>
        <span class="category">{{subtitle}}</span>
    </div>
</header>
<section class="readaloud">
    {{{readaloud}}}
</section>
