<section class="sheet-body">
    <section class="sheet-header flexrow">
        <img class="profile" src="{{actor.img}}" alt="{{actor.name}}" data-action="editImage" data-edit="img">
        <div class="name flexcol">
            <h1 class="title">
                {{formInput fields.name value=actor.name placeholder="Group Name"}}
            </h1>
            {{crucibleTags tags additionalClasses="header-tags"}}
        </div>
    </section>

    <div class="sheet-details flexrow">
        <div class="sheet-section movement flexrow">
            <h3>{{systemFields.movement.label}}</h3>
            <div class="movement-speed water labeled-hex">
                <h4 class="label">{{systemFields.movement.fields.water.label}}</h4>
                <span class="value">{{system.movement.water}}</span>
            </div>
            <div class="movement-speed land labeled-hex">
                <h4 class="label">{{systemFields.movement.fields.land.label}}</h4>
                <span class="value">{{system.movement.land}}</span>
            </div>
            <div class="movement-speed air labeled-hex">
                <h4 class="label">{{systemFields.movement.fields.air.label}}</h4>
                <span class="value">{{system.movement.air}}</span>
            </div>
            <div class="travel-pace labeled-hex">
                <h4 class="label">{{systemFields.movement.fields.pace.label}}</h4>
                <button type="button" class="value icon {{pace.icon}}" data-action="cyclePace"
                        data-tooltip="ACTOR.GROUP.LABELS.cyclePace" data-tooltip-direction="RIGHT"></button>
                <span class="label footer">{{localize pace.label}}</span>
            </div>
        </div>
        <div class="sheet-section advancement flexrow">
            <h3>{{systemFields.advancement.label}}</h3>
            <button type="button" class="icon fa-solid fa-bolt" data-action="recover"
                    aria-label="{{localize 'ACTOR.GROUP.LABELS.recover'}}" data-tooltip></button>
            <div class="milestones labeled-hex">
                <h4 class="label">{{systemFields.advancement.fields.milestones.label}}</h4>
                <button type="button" class="value" data-action="awardMilestone"
                        data-tooltip="ADVANCEMENT.MilestoneAward" data-tooltip-direction="RIGHT">
                    {{system.advancement.totalMilestones}}
                </button>
                <span class="label footer">{{localize "ADVANCEMENT.ExpectedLevel"}} {{system.advancement.expectedLevel}}</span>
            </div>
            <button type="button" class="icon fa-solid fa-campfire" data-action="rest"
                    aria-label="{{localize 'ACTOR.GROUP.LABELS.rest'}}" data-tooltip></button>
        </div>
    </div>

    <div class="sheet-section members flexcol">
        <h3>{{systemFields.members.label}}</h3>
        <ol class="items-list scrollable">
            {{#each members as |member|}}
            <li class="line-item member" data-actor-id="{{member.actorId}}">
                <img class="icon" src="{{member.img}}">
                <div class="title">
                    <h4>
                        <a data-action="memberSheet">{{member.name}}</a>
                        {{#if hasQuantity}}<span class="quantity">({{member.quantity}})</span>{{/if}}
                    </h4>
                    <div class="tags">
                        {{#each member.tags as |label tag|}}
                        <span class="tag">{{label}}</span>
                        {{/each}}
                    </div>
                </div>
                <div class="resources flexcol">
                    {{#if member.hasResources}}
                    <div class="resource health flexrow">
                        <span class="label">{{member.health.value}}</span>
                        <div class="bar">
                            <span class="bar-fill" style="width: {{member.health.cssPct}}; background: {{member.health.color}}"></span>
                        </div>
                        <span class="label">{{member.health.max}}</span>
                    </div>
                    <div class="resource morale flexrow">
                        <span class="label">{{member.morale.value}}</span>
                        <div class="bar">
                            <span class="bar-fill" style="width: {{member.morale.cssPct}}; background: {{member.morale.color}}"></span>
                        </div>
                        <span class="label">{{member.morale.max}}</span>
                    </div>
                    {{/if}}
                </div>
                <div class="controls">
                    {{#if @root.isEditable}}
                    <a class="control icon fa-solid fa-times" data-tooltip="{{localize "ACTOR.GROUP.TooltipRemoveMember"}}" data-action="memberRemove"></a>
                    {{/if}}
                </div>
            </li>
            {{/each}}
        </ol>
    </div>
</section>
