<section class="sheet-header flexrow">
    <img class="profile" src="{{actor.img}}" alt="{{actor.name}}" data-action="editImage" data-edit="img">
    <div class="name flexcol">
        <h1 class="title">
            {{formInput fields.name value=actor.name placeholder="Group Name"}}
        </h1>
        <div class="tags header-tags">
            {{#each tags as |label tag|}}
            <span class="tag" data-tag="{{tag}}">{{label}}</span>
            {{/each}}
        </div>
    </div>
</section>
