<form class="{{cssClass}} flexcol" autocomplete="off">

    {{!-- Sheet Header --}}
    <header class="sheet-header flexrow">
        <img class="profile" src="{{action.img}}" title="{{action.name}}" data-edit="img">
        <h1 class="title">
            <input name="name" type="text" value="{{action.name}}" placeholder="Action Name">
        </h1>
    </header>

    <!-- Configuration Tabs -->
    <nav class="sheet-tabs tabs">
        <a class="item" data-tab="usage"><i class="fa-solid fa-cogs"></i> Usage</a>
        <a class="item" data-tab="target"><i class="fa-solid fa-bullseye"></i> Target</a>
        <a class="item" data-tab="effects"><i class="fa-solid fa-hourglass-clock"></i> Effects</a>
        <a class="item" data-tab="hooks"><i class="fa-solid fa-code"></i> Hooks</a>
    </nav>

    {{!-- Usage Tab --}}
    <section class="tab sheet-body flexcol" data-tab="usage">
        <div class="form-group">
            <label>Action ID</label>
            <div class="form-fields">
                <input type="text" name="id" value="{{action.id}}">
            </div>
            <p class="hint">Provide a standardized camel-case alphanumeric identifier for this action.
                This identifier should be unique across all actions in the system.</p>
        </div>

        <div class="form-group stacked">
            <label>Description</label>
            <textarea name="description" rows="4">{{action.description}}</textarea>
            <p class="hint">A text description of how the action functions mechanically.</p>
        </div>

        <div class="form-group stacked">
            <label>Triggering Condition</label>
            <textarea name="condition" rows="2">{{action.condition}}</textarea>
            <p class="hint">Additional reference text which clarifies the prerequisite triggering conditions under which an action may be used.</p>
        </div>

        <div class="form-group stacked">
            <h3>Action Tags</h3>
            <div class="form-fields">
                <multi-select name="tags">
                    {{#each tags as |optgroup|}}
                    <optgroup label="{{optgroup.label}}">
                        {{#each optgroup.tags as |tag|}}
                        <option value="{{tag.value}}" {{tag.selected}}>{{tag.label}}</option>
                        {{/each}}
                    </optgroup>
                    {{/each}}
                </multi-select>
            </div>
            <p class="hint">Add tags which define the requirements, behavior, and modifiers of this action.
                The order of tags matters as later tags will take priority over earlier ones if they modify the
                same properties of the action.</p>
        </div>

        <div class="form-group">
            <h3>Activation Cost</h3>
            <div class="form-fields">
                <label>Action</label>
                <input type="number" name="cost.action" value="{{action.cost.action}}">
                <label>Focus</label>
                <input type="number" name="cost.focus" value="{{action.cost.focus}}">
            </div>
            <p class="hint">Configure the cost of using this action in Action Points and Focus Points.</p>
        </div>
    </section>

    {{!-- Target Tab --}}
    <section class="tab sheet-body flexcol" data-tab="target">
        <div class="form-group">
            <label>Affected Scope</label>
            <div class="form-fields">
                <select name="target.scope" data-dtype="Number">
                    {{selectOptions targetScopes selected=action.target.scope}}
                </select>
            </div>
            <p class="hint">Which disposition of targets are affected by this action?</p>
        </div>
        <div class="form-group">
            <label>Target Type</label>
            <div class="form-fields">
                <select name="target.type">
                    {{selectOptions targetTypes selected=action.target.type labelAttr="label"}}
                </select>
            </div>
            <p class="hint">Which type of target or area is affected by this action?</p>
        </div>
        <div class="form-group">
            <label>Target Number</label>
            <div class="form-fields">
                <input type="number" name="target.number" value="{{action.target.number}}" min="0" step="1">
            </div>
            <p class="hint">How many of the selected target type are affected by this action?</p>
        </div>
        <div class="form-group">
            <label>Maximum Distance</label>
            <div class="form-fields">
                <input type="number" name="target.distance" value="{{action.target.distance}}" min="0" step="1">
            </div>
            <p class="hint">What is the maximum distance at which this action can be performed?</p>
        </div>
        <fieldset>
            <legend>Advanced</legend>
            <div class="form-group">
                <label>Target Size</label>
                <div class="form-fields">
                    <input type="number" name="target.radius" value="{{action.target.radius}}" min="0" step="1">
                </div>
                <p class="hint">Certain target types are further modified by a size in grid spaces.</p>
            </div>
            <div class="form-group">
                <label>Target Limitation</label>
                <div class="form-fields">
                    <input type="number" name="target.limit" value="{{action.target.limit}}" min="0" step="1">
                </div>
                <p class="hint">Limit the effect of this action to a maximum number of individual target characters? By default, all targets will be affected.</p>
            </div>
            <div class="form-group">
                <label>Multiple Applications</label>
                <div class="form-fields">
                    <input type="number" name="target.multiple" value="{{action.target.multiple}}" min="0" step="1">
                </div>
                <p class="hint">Apply the effects of this action multiple times per target? By default, the action will apply once per target.</p>
            </div>
        </fieldset>
    </section>

    {{!-- Effects Tab --}}
    <section class="tab sheet-body flexcol" data-tab="effects">
        Effects Tab still to do.
    </section>

    {{!-- Hooks Tab --}}
    <section class="tab sheet-body flexcol" data-tab="hooks">
        Hooks tab still to do.
    </section>

    {{!-- Sheet Footer --}}
    {{#if editable}}
    <footer class="sheet-footer">
        <button class="frame-brown" type="submit">
            <i class="fas fa-save"></i> {{localize "Save Changes"}}
        </button>
    </footer>
    {{/if}}
</form>
