<form class="{{cssClass}} flexcol" autocomplete="off">

    {{!-- Sheet Header --}}
    <header class="sheet-header flexrow">
        <img class="profile" src="{{config.icon}}" title="{{config.name}}"/>
        <div class="header-content flexrow">
            <h1 class="title">{{config.name}}</h1>
            <div class="purchase">
                <a class="button control" data-action="rules"><i class="fa-solid fa-book-open"></i></a>
                <a class="button control" data-action="decrease"><i class="fas fa-minus"></i></a>
                <span class="rank">{{skill.rank}}</span>
                <a class="button control" data-action="increase"><i class="fas fa-plus"></i></a>
            </div>
        </div>
    </header>

    {{!-- Sheet Body --}}
    <section class="sheet-body flexcol">
        <div class="description skill-description">
            {{{config.overview}}}
        </div>

        {{#if displayPath}}
        <h3>Specialization Path: {{path.name}}</h3>
        <div class="description path-description">
            {{{path.overview}}}
        </div>
        {{/if}}

        {{#if choosePath}}
        <h2 class="divider">Select Specialization</h2>
        <div class="skill-ranks current-ranks">
            {{#each config.paths as |path id|}}
            <div class="skill-rank">
                <input class="choose-path" type="radio" name="path" value="{{id}}" {{checked (eq ../skill.path id)}}/>
                <h3>{{path.name}}</h3>
                <div class="description">
                    {{{path.overview}}}
                </div>
            </div>
            {{/each}}
        </div>
        {{/if}}

        <h2 class="divider">Acquired Ranks</h2>
        <div class="skill-ranks current-ranks">
            {{#each trainedRanks}}
            <div class="skill-rank">
                <h3>{{this.label}}.</h3> {{{this.description}}}
            </div>
            {{/each}}
        </div>

        {{#if untrainedRanks.length}}
        <h2 class="divider">Unacquired Ranks</h2>
        <div class="skill-ranks current-ranks">
            {{#each untrainedRanks}}
            <div class="skill-rank">
                <h3>{{this.label}}.</h3> {{{this.description}}}
            </div>
            {{/each}}
        </div>
        {{/if}}

        {{#if showPaths}}
        <h2 class="divider">Specialization Paths</h2>
        <div class="skill-ranks skill-paths">
            {{#each config.paths as |path|}}
            <div class="skill-rank">
                <h3>{{path.name}}.</h3>
                {{{path.overview}}}
            </div>
            {{/each}}
        </div>
        {{/if}}
    </section>
</form>
