<section class="sheet-header flexcol">
    <header class="title flexrow">
        <input class="charname" name="name" type="text" value="{{source.name}}" placeholder="Actor Name">
        {{#if incomplete.level}}
        <a class="button icon level-up fa-solid fa-plus" data-action="levelUp"
           data-tooltip="{{incomplete.levelTooltip}}"></a>
        {{/if}}
        <label class="level"><i class="threat-icon {{threat.icon}}" data-tooltip="{{threat.label}}"></i> Level</label>
        <div class="controls flexcol">
            <a class="control icon fa-solid fa-caret-up {{#unless canLevelUp}}inactive{{/unless}}"
               data-tooltip="Increase Level" data-action="levelIncrease"></a>
            <a class="control icon fa-solid fa-caret-down {{#unless canLevelDown}}inactive{{/unless}}"
               data-tooltip="Decrease Level" data-action="levelDecrease"></a>
        </div>
        <input type="text" value="{{levelDisplay}}" disabled>
    </header>

    <div class="subtitle flexrow">
        <h2 class="taxonomy flexrow {{#if incomplete.taxonomy}}inactive{{/if}}" data-action="editTaxonomy"
            {{#if incomplete.taxonomy}}data-tooltip="WALKTHROUGH.ConfigureTaxonomy"{{/if}}>
            <a>{{#if incomplete.taxonomy}}<i class="fa-solid fa-circle-plus"></i> {{/if}}{{taxonomyName}}</a>
        </h2>
        <h2 class="archetype flexrow {{#if incomplete.archetype}}inactive{{/if}}" data-action="editArchetype"
            {{#if incomplete.archetype}}data-tooltip="WALKTHROUGH.ConfigureArchetype"{{/if}}>
            <a>{{#if incomplete.archetype}}<i class="fa-solid fa-circle-plus"></i> {{/if}}{{archetypeName}}</a>
        </h2>
        <div class="metadata flexrow">
            {{formInput fields.advancement.fields.threat value=source.system.advancement.threat labelAttr="label"}}
            <div class="size flexrow">
                <span class="label" data-tooltip="ANCESTRY.FIELDS.size.hint">{{localize "ACTOR.LABELS.SIZE"}}</span>
                <span class="value">{{actor.size}}</span>
            </div>
        </div>
    </div>
</section>
