<section class="tab {{tabs.attributes.id}} {{tabs.attributes.cssClass}}"
         data-tab="{{tabs.attributes.id}}" data-group="{{tabs.attributes.group}}">

    <div class="sheet-section resources flexrow">
        <h3>Resources</h3>
        <div class="resource health flexcol" style="{{resources.health.cssPct}}">
            <h4 class="label above" data-tooltip="{{resources.health.tooltip}}">{{resources.health.label}}</h4>
            <div class="pool short flexrow">
                {{formInput fields.resources.fields.health.fields.value value=resources.health.value type="number"}}
                <span class="sep">/</span>
                <span class="total value">{{resources.health.max}}</span>
            </div>
            <div class="threshold wounds" data-tooltip="{{defenses.wounds.tooltip}}">
                <span class="value">{{defenses.wounds.total}}</span>
            </div>
        </div>

        <div class="economy flexcol">
            <div class="currency action flexcol">
                <h4 class="label" data-tooltip="{{resources.action.tooltip}}">{{resources.action.label}}</h4>
                <div class="points flexrow">
                    {{formInput fields.resources.fields.action.fields.value value=resources.action.value type="number"}}
                    <div class="pips flexrow">
                        {{#each resources.action.pips as |pip|}}
                        <div class="pip {{pip.cssClass}}"></div>
                        {{/each}}
                    </div>
                    <span class="max">{{resources.action.max}}</span>
                </div>
            </div>

            <div class="currency focus flexcol">
                <h4 class="label" data-tooltip="{{resources.focus.tooltip}}">{{resources.focus.label}}</h4>
                <div class="points flexrow">
                    {{formInput fields.resources.fields.focus.fields.value value=resources.focus.value type="number"}}
                    <div class="pips flexrow">
                        {{#each resources.focus.pips as |pip|}}
                        <div class="pip {{pip.cssClass}}"></div>
                        {{/each}}
                    </div>
                    <span class="max">{{resources.focus.max}}</span>
                </div>
            </div>
        </div>

        <div class="resource morale flexcol" style="{{resources.morale.cssPct}}">
            <h4 class="label above" data-tooltip="{{resources.morale.tooltip}}">{{resources.morale.label}}</h4>
            <div class="pool short flexrow">
                {{formInput fields.resources.fields.morale.fields.value value=resources.morale.value type="number"}}
                <span class="sep">/</span>
                <span class="total value">{{resources.morale.max}}</span>
            </div>
            <div class="threshold madness" data-tooltip="{{defenses.madness.tooltip}}">
                <span class="value">{{defenses.madness.total}}</span>
            </div>
        </div>
    </div>

    <div class="sheet-section abilities">
        <h3>Abilities</h3>
        {{#each abilityScores as |ability|}}
        <div class="ability {{ability.id}} {{ability.type}} flexcol" data-ability="{{ability.id}}">
            <h4 class="label">{{ability.label}}</h4>
            <span class="input score">{{ability.value}}</span>
        </div>
        {{/each}}
    </div>

    <div class="sheet-section defenses">
        <h3>Defenses</h3>
        <div class="physical flexrow">
            <div class="defense total">
                <h4 class="label">{{defenses.physical.label}}</h4>
                <span class="value">{{defenses.physical.value}}</span>
            </div>
            {{#each defenses.physical.components as |c id|}}
            <span class="sep">{{c.separator}}</span>
            <div class="defense component {{id}} {{c.cssClass}}">
                <h4 class="label">{{c.label}}</h4>
                <span class="value">{{c.value}}</span>
                <span class="pct">{{c.pct}}%</span>
            </div>
            {{/each}}
        </div>
        <div class="magical flexrow">
            <div class="defense extra engagement">
                <span class="value">{{actor.system.movement.engagement}}</span>
                <h4 class="label" data-tooltip="ACTOR.FIELDS.movement.engagement.tooltip">
                    {{localize "ACTOR.FIELDS.movement.engagement.labelShort"}}
                </h4>
            </div>
            <div class="defense fortitude">
                <h4 class="label" data-tooltip="{{defenses.fortitude.tooltip}}">{{defenses.fortitude.label}}</h4>
                <span class="value">{{defenses.fortitude.total}}</span>
            </div>
            <div class="defense willpower">
                <h4 class="label" data-tooltip="{{defenses.willpower.tooltip}}">{{defenses.willpower.label}}</h4>
                <span class="value">{{defenses.willpower.total}}</span>
            </div>
            <div class="defense reflex">
                <h4 class="label" data-tooltip="{{defenses.reflex.tooltip}}">{{defenses.reflex.label}}</h4>
                <span class="value">{{defenses.reflex.total}}</span>
            </div>
            <div class="defense extra stride">
                <span class="value">{{actor.system.movement.stride}}</span>
                <h4 class="label" data-tooltip="ACTOR.FIELDS.movement.stride.tooltip">
                    {{localize "ACTOR.FIELDS.movement.stride.label"}}
                </h4>
            </div>
        </div>
    </div>

    <div class="sheet-section resistances flexrow">
        <h3>Resistances</h3>
        {{#each resistances as |group|}}
        <div class="resistance-group flexcol">
            {{#each group.resistances as |r|}}
            <div class="resistance flexcol {{r.cssClass}}" data-resistance="{{r.id}}">
                <h4 class="label">{{r.label}}</h4>
                <div class="resistance-bar">
                    <span class="value">{{r.total}}</span>
                    <span class="bar" style="width:{{r.barPct}}"></span>
                </div>
            </div>
            {{/each}}
        </div>
        {{/each}}
    </div>

</section>
