<section class="tab flexcol {{tabs.biography.id}} {{tabs.biography.cssClass}}"
         data-tab="{{tabs.biography.id}}" data-group="{{tabs.biography.group}}">

    <div class="sheet-section flexcol biography-public">
        <h3>Public Biography</h3>
        {{formInput fields.details.fields.biography.fields.public value=biography.public}}
    </div>
    <div class="sheet-section flexcol biography-private">
        <h3>Private Biography</h3>
        {{formInput fields.details.fields.biography.fields.private value=biography.private}}
    </div>
</section>
