<section class="tab secondary {{tabs.effects.id}} flexcol {{tabs.effects.cssClass}}"
         data-tab="{{tabs.effects.id}}" data-group="{{tabs.effects.group}}">
    <section class="effects-sections scrollable flexcol">
        {{#each effects as |section|}}
        <div class="sheet-section item-section flexcol" data-tooltip-direction="LEFT">
            <h3 class="section-header">{{section.label}}</h3>
            <ol class="items-list" data-tooltip-direction="LEFT">
                {{#each section.effects as |effect|}}
                <li class="line-item effect" data-effect-id="{{effect.id}}" data-crucible-tooltip="activeEffect" data-uuid="{{effect.uuid}}">
                    <img class="icon" src="{{effect.icon}}" alt="{{effect.label}}">
                    <div class="title">
                        <h4>{{effect.name}}</h4>
                        <div class="tags">
                            {{crucibleTags effect.tags.activation enclosed=false}}
                            {{#each effect.tags.statuses as |label id|}}
                            <span class="tag" data-tag="{{id}}" data-crucible-tooltip="condition" data-condition="{{id}}" data-tooltip-class="crucible crucible-tooltip">{{label}}</span>
                            {{/each}}
                        </div>
                    </div>
                    <div class="controls">
                        <a class="button icon {{effect.disabled.icon}}" data-action="effectToggle" aria-label="{{localize effect.disabled.tooltip}}" data-tooltip></a>
                        <a class="button icon fa-solid fa-edit" data-action="effectEdit" aria-label="{{localize "ACTIVE_EFFECT.ACTIONS.Edit"}}" data-tooltip></a>
                        <a class="button icon fa-solid fa-trash" data-action="effectDelete" aria-label="{{localize "ACTIVE_EFFECT.ACTIONS.Delete"}}" data-tooltip></a>
                    </div>
                </li>
                {{/each}}
            </ol>
        </div>
        {{/each}}
    </section>
    <footer class="tab-footer effects-footer flexrow">
        <button type="button" class="icon frame-brown fa-solid fa-plus effects-create" data-action="effectCreate" aria-label="{{localize "ACTIVE_EFFECT.ACTIONS.Create"}}" data-tooltip></button>
    </footer>
</section>
