<section class="sheet-header flexcol">
    <header class="title flexrow">
        <input class="charname" name="name" type="text" value="{{source.name}}" placeholder="Actor Name">
        <div class="advancement flexrow" data-tooltip="{{advancementTooltip}}" data-tooltip-direction="UP">
            {{#if incomplete.progress}}
            <button type="button" class="icon level-up fa-solid fa-triangle-exclamation incomplete"
                    data-action="levelUp" data-tooltip="{{incomplete.progressTooltip}}" data-tooltip-direction="DOWN"
                    data-tooltip-class="creation-steps"></button>
            {{else if incomplete.level}}
            <button type="button" class="icon level-up fa-solid fa-plus incomplete" data-action="levelUp"
                    data-tooltip="Level Up!"></button>
            {{/if}}
            <span>Level</span>
            <div class="milestones">
                {{#if actor.system.advancement.progress}}
                <span class="bar" style="width: {{actor.system.advancement.pct}}%"></span>
                {{/if}}
            </div>
        </div>
        {{formInput fields.advancement.fields.level value=source.system.advancement.level type="number" classes="level"
                    disabled=incomplete.isL0}}
    </header>

    <div class="subtitle flexrow">
        <h2 class="ancestry flexrow {{#if incomplete.ancestry}}incomplete{{/if}}" data-action="editAncestry"
            {{#if incomplete.ancestry}}data-tooltip="WALKTHROUGH.AddAncestry"{{/if}}>
            <a>{{#if incomplete.ancestry}}<i class="fa-solid fa-circle-plus"></i> {{/if}}{{ancestryName}}</a>
        </h2>
        <h2 class="background flexrow {{#if incomplete.background}}incomplete{{/if}}" data-action="editBackground"
            {{#if incomplete.background}}data-tooltip="WALKTHROUGH.AddBackground"{{/if}}>
            <a>{{#if incomplete.background}}<i class="fa-solid fa-circle-plus"></i> {{/if}}{{backgroundName}}</a>
        </h2>
        {{#if actor.system.details.signatureName}}
        <h2 class="signature">{{actor.system.details.signatureName}}</h2>
        {{/if}}
        <div class="metadata flexrow">
            <div class="size flexrow">
                <span class="label" data-tooltip="ANCESTRY.FIELDS.size.hint">{{localize "ACTOR.LABELS.SIZE"}}</span>
                <span class="value">{{actor.size}}</span>
            </div>
        </div>
    </div>
</section>
