<section class="tab secondary flexcol scrollable {{tabs.inventory.id}} {{tabs.inventory.cssClass}}"
         data-tab="{{tabs.inventory.id}}" data-group="{{tabs.inventory.group}}">
    {{#each inventory as |section s|}}
    <div class="sheet-section item-section flexcol">
        <h3>{{section.label}}</h3>
        <ol class="items-list scrollable">
            {{#each section.items as |item id|}}
            <li class="line-item {{item.cssClass}}" data-item-id="{{item.id}}">
                <img class="icon" src="{{item.img}}" alt="{{item.name}}">
                <div class="title">
                    <h4 >
                        {{#if item.showStack}}<span class="stack">({{item.quantity}}) </span>{{/if}}
                        {{~item.name~}}
                    </h4>
                    <div class="tags">
                        {{#each item.tags}}
                        {{#if this}}<span class="tag">{{this}}</span>{{/if}}
                        {{/each}}
                    </div>
                </div>
                <div class="controls">
                    <a class="button icon equipped-state fa-solid fa-shield-alt" data-action="itemEquip"
                       data-tooltip="Equip Item"></a>
                    <a class="button icon fa-solid fa-edit" data-action="itemEdit" data-tooltip="Edit Item"></a>
                    <a class="button icon fa-solid fa-trash" data-action="itemDelete" data-tooltip="Delete Item"></a>
                </div>
            </li>
            {{else}}
            <li class="notes">{{section.empty}}</li>
            {{/each}}
        </ol>
    </div>
    {{/each}}
    <button type="button" class="icon frame-brown fa-solid fa-plus inventory-create" data-action="itemCreate" data-tooltip="Create Item"></button>
</section>
