<div>
    {{!-- Sheet Header --}}
    <header class="sheet-header flexrow">
        <img class="profile" src="{{config.icon}}" title="{{config.name}}"/>
        <div class="header-content flexrow">
            <h1 class="title">{{config.name}}</h1>
            <div class="purchase">
                <a class="button icon fa-solid fa-book-open" data-action="rules"></a>
                <a class="button icon fa-solid fa-minus" data-action="decrease"></a>
                <span class="rank">{{skill.rank}}</span>
                <a class="button icon fa-solid fa-plus" data-action="increase"></a>
            </div>
        </div>
    </header>

    {{!-- Sheet Body --}}
    <section class="sheet-body flexcol scrollable">
        <div class="description skill-description">
            {{{config.overview}}}
        </div>

        {{#if displayPath}}
        <h3>Specialization Path: {{path.name}}</h3>
        <div class="description path-description">
            {{{path.overview}}}
        </div>
        {{/if}}

        {{#if choosePath}}
        <h2 class="divider">Select Specialization</h2>
        <div class="skill-ranks current-ranks">
            {{#each config.paths as |path|}}
            <h3>
                <a class="button icon choose-path {{path.actionIcon}}" data-action="choosePath" data-path="{{path.id}}"
                   data-tooltip="{{path.actionTooltip}}"></a>
                {{path.name}}
            </h3>
            {{{path.overview}}}
            {{/each}}
        </div>
        {{/if}}

        <h2 class="divider">Acquired Ranks</h2>
        <div class="skill-ranks current-ranks">
            {{#each trainedRanks}}
            <h3>{{this.label}}</h3>
            {{{this.description}}}
            {{/each}}
        </div>

        {{#if untrainedRanks.length}}
        <h2 class="divider">Unacquired Ranks</h2>
        <div class="skill-ranks current-ranks">
            {{#each untrainedRanks}}
            <h3>{{this.label}}</h3>
            {{{this.description}}}
            {{/each}}
        </div>
        {{/if}}

        {{#if showPaths}}
        <h2 class="divider">Specialization Paths</h2>
        <div class="skill-ranks skill-paths">
            {{#each config.paths as |path|}}
            <h3>{{path.name}}</h3>
            {{{path.overview}}}
            {{/each}}
        </div>
        {{/if}}
    </section>
</div>
