<section class="tab secondary {{tabs.skills.id}} flexcol {{tabs.skills.cssClass}}"
         data-tab="{{tabs.skills.id}}" data-group="{{tabs.skills.group}}">
    {{#each skillCategories as |category catId|}}
    <div class="sheet-section item-section flexcol">
        <h3 class="section-header">{{category.label}} Skills</h3>
        <ol class="items-list" style="--skill-color:{{category.color.css}}">
            {{#each category.skills as |skill skillId|}}
            <li class="skill line-item" data-skill="{{skillId}}">
                <img class="icon" src="{{skill.icon}}" alt="{{skill.label}}">
                <div class="title">
                    <h4 data-tooltip="Roll Check" data-action="skillRoll"><a>{{skill.label}}</a></h4>
                </div>
                <div class="tags abilities">
                    {{#each skill.abilityAbbrs}}
                    <span class="attribute tag">{{this}}</span>
                    {{/each}}
                </div>
                <div class="bonus flexrow">
                    <span class="value hex {{skill.hexClass}}" data-tooltip="{{skill.tooltips.value}}">{{numberFormat skill.score sign=true}}</span>
                    <span class="passive" data-tooltip="Passive: {{skill.tooltips.passive}}">{{skill.passive}}</span>
                </div>
                <div class="ranks flexrow">
                    {{#each skill.pips}}<span class="pip {{this}}"></span>{{/each}}
                </div>
                <div class="tags training">
                    {{#each skill.rankTags as |tag|}}
                    <span class="rank tag">{{tag}}</span>
                    {{/each}}
                </div>
            </li>
            {{/each}}
        </ol>
    </div>
    {{/each}}
</section>
