<section class="tab secondary {{tabs.skills.id}} scrollable flexcol {{tabs.skills.cssClass}}"
         data-tab="{{tabs.skills.id}}" data-group="{{tabs.skills.group}}">
    {{#each skillCategories as |category catId|}}
    <div class="sheet-section item-section flexcol">
        <h3 class="section-header">{{localize "SKILL.CategoryHeader" category=category.label}}</h3>
        <ol class="items-list" style="--skill-color:{{category.color.css}}">
            {{#each category.skills as |skill skillId|}}
            <li class="skill line-item" data-skill="{{skillId}}">
                <img class="icon" src="{{skill.icon}}" alt="{{skill.label}}">
                <div class="title">
                    <h4 aria-label="{{localize "ACTOR.ACTIONS.RollCheck"}}" data-tooltip data-action="skillRoll"><a>{{skill.label}}</a></h4>
                </div>
                <div class="tags abilities">
                    {{#each skill.abilityAbbrs}}
                    <span class="attribute tag">{{this}}</span>
                    {{/each}}
                </div>
                <div class="bonus flexrow">
                    <span class="value hex {{skill.hexClass}}" data-tooltip="{{skill.tooltips.value}}">{{numberFormat skill.score sign=true}}</span>
                    <span class="passive" data-tooltip="{{localize "SKILL.PassiveSpecific" passive=skill.tooltips.passive}}">{{skill.passive}}</span>
                </div>
                <div class="ranks flexrow">
                    {{#each skill.pips}}<span class="pip {{this}}"></span>{{/each}}
                </div>
                <div class="tags training">
                    {{#each skill.rankTags as |tag|}}
                    <span class="rank tag">{{tag}}</span>
                    {{/each}}
                </div>
            </li>
            {{/each}}
        </ol>
    </div>
    {{/each}}
    <footer class="tab-footer skills-footer flexrow">
        <div class="sheet-section flexcol">
            <h3>{{localize "ACTOR.LABELS.Knowledge"}}</h3>
            <div class="tags flexrow">
                {{#each knowledge}}
                <span class="larger tag knowledge-area">{{this}}</span>
                {{else}}
                <p class="hint">{{localize "ACTOR.LABELS.KnowledgeHint"}}</p>
                {{/each}}
            </div>
        </div>
        <div class="sheet-section flexcol">
            <h3>{{localize "ACTOR.LABELS.Languages"}}</h3>
            {{formInput fields.details.fields.languages value=source.system.details.languages
                        options=languages classes="languages"}}
        </div>
    </footer>
</section>
