<section class="tab secondary {{tabs.talents.id}} flexcol scrollable {{tabs.talents.cssClass}}"
         data-tab="{{tabs.talents.id}}" data-group="{{tabs.talents.group}}">

    {{#if canPurchaseTalents}}
    <div class="header-section flexrow">
        <a class="button framed" data-action="talentTree" data-tooltip="Toggle Talent Tree">
            <i class="fa-solid fa-diagram-project"></i> {{talentTreeButtonText}}</a>
        <div class="point-pools flexrow">
            <span class="label">Available</span>
            <span class="value">{{points.talent.available}}</span>
            <span class="label">Spent</span>
            <span class="value">{{points.talent.spent}}</span>
            <a class="button icon fa-solid fa-undo" data-action="talentReset" data-tooltip="Reset All Talents"></a>
        </div>
    </div>
    {{/if}}

    {{#each talents as |section s|}}
    <div class="sheet-section item-section flexcol">
        <h3 class="section-header">{{section.label}}</h3>
        <ol class="items-list">
            {{#each section.items as |item id|}}
            <li class="line-item {{item.cssClass}}" data-item-id="{{item.id}}">
                <img class="icon" src="{{item.img}}" alt="{{item.name}}">
                <div class="title">
                    <h4>{{item.name}}</h4>
                    <div class="tags">
                        {{#each item.tags}}
                        {{#if this}}<span class="tag">{{this}}</span>{{/if}}
                        {{/each}}
                    </div>
                </div>
                <div class="controls">
                    <a class="button icon fa-solid fa-edit" data-action="itemEdit" data-tooltip="Edit Talent"></a>
                    {{#unless canPurchaseTalents}}
                    <a class="button icon fa-solid fa-trash" data-action="itemDelete" data-tooltip="Delete Talent"></a>
                    {{/unless}}
                </div>
            </li>
            {{/each}}
        </ol>
    </div>
    {{/each}}
</section>
