<section class="tab secondary {{tabs.talents.id}} flexcol scrollable {{tabs.talents.cssClass}}"
         data-tab="{{tabs.talents.id}}" data-group="{{tabs.talents.group}}">

    {{#if canPurchaseTalents}}
    <div class="header-section flexrow">
        <a class="button framed" data-action="talentTree" aria-label="{{localize "ACTOR.ACTIONS.ToggleTree"}}" data-tooltip>
            <i class="fa-solid fa-diagram-project"></i> {{talentTreeButtonText}}</a>
        <div class="point-pools flexrow">
            <span class="label">{{localize "ACTOR.SHEET.POINTS_AVAILABLE"}}</span>
            <span class="value">{{points.talent.available}}</span>
            <span class="label">{{localize "ACTOR.SHEET.POINTS_SPENT"}}</span>
            <span class="value">{{points.talent.spent}}</span>
            <a class="button icon fa-solid fa-undo" data-action="talentReset" aria-label="{{localize "ACTOR.ACTIONS.ResetTalents"}}" data-tooltip></a>
        </div>
    </div>
    {{/if}}

    {{#each talents as |section s|}}
    <div class="sheet-section item-section flexcol">
        <h3 class="section-header">{{section.label}}</h3>
        <ol class="items-list" data-tooltip-direction="LEFT">
            {{#each section.items as |item id|}}
            <li class="line-item {{item.cssClass}}" data-crucible-tooltip="talent" data-uuid="{{item.uuid}}" data-item-id="{{item.id}}">
                <img class="icon" src="{{item.img}}" alt="{{item.name}}">
                <div class="title">
                    <h4>{{item.name}}</h4>
                    {{crucibleTags item.tags}}
                </div>
                <div class="controls">
                    <a class="button icon fa-solid fa-edit" data-action="itemEdit" aria-label="{{localize "TALENT.ACTIONS.EDIT"}}" data-tooltip></a>
                    {{#unless canPurchaseTalents}}
                    <a class="button icon fa-solid fa-trash" data-action="itemDelete" aria-label="{{localize "TALENT.ACTIONS.DELETE"}}" data-tooltip></a>
                    {{/unless}}
                </div>
            </li>
            {{/each}}
        </ol>
    </div>
    {{/each}}
</section>
