<header class="action-header">
    <img class="icon" src="{{action.img}}" alt="{{action.name}}">
    <div class="title">
        <h4>{{action.name}}</h4>
        <div class="tags" data-tag-type="activation">
            {{#each activationTags as |label tag|}}
            <span class="tag" data-tag="{{tag}}">{{label}}</span>
            {{/each}}
        </div>
    </div>
</header>

{{#if hasActionTags}}
<div class="action-tags full-tags">
    <label class="tag-icon" data-tooltip="Action Tags" data-tooltip-direction="LEFT">
        <i class="fa-solid fa-bolt"></i>
    </label>
    <div class="tags" data-tag-type="action">
        {{#each actionTags as |label tag|}}
        <span class="tag" data-tag="{{tag}}">{{label}}</span>
        {{/each}}
    </div>
</div>
{{/if}}

{{#if context.tags.size}}
<div class="context-tags full-tags">
    <label class="tag-icon" data-tooltip="{{action.context.label}}" data-tooltip-direction="LEFT">
        <i class="{{context.icon}}"></i>
    </label>
    <div class="tags" data-tag-type="{{context.type}}">
        {{#each context.tags as |label|}}
        <span class="tag">{{label}}</span>
        {{/each}}
    </div>
</div>
{{/if}}

{{#if hasTargets}}
<div class="target-template full-tags">
    {{#if template}}
    <label class="tag-icon" data-tooltip="{{localize "ACTION.TemplateTargets"}}" data-tooltip-direction="LEFT"
           data-template-uuid="{{template.uuid}}">
        <i class="fa-solid fa-ruler-combined"></i>
    </label>
    {{else}}
    <label class="tag-icon" data-tooltip="{{localize "ACTION.Targets"}}" data-tooltip-direction="LEFT">
        <i class="fa-solid fa-bullseye"></i>
    </label>
    {{/if}}
    <div class="tags" data-tag-type="target">
        {{#if requiresTemplate}}
        <button class="place-template frame-brown" type="button" data-action="placeTemplate">
            <i class="fa-solid fa-ruler-combined"></i>
            Place Template
        </button>
        {{else}}
        {{#each targets}}
        <span class="target-link tag {{this.cssClass}}" data-uuid="{{this.uuid}}"
              {{#if this.tooltip}}data-tooltip="{{this.tooltip}}"{{/if}}>{{this.name}}</span>
        {{else}}
        <span class="tag unmet">No Targets</span>
        {{/each}}
        {{/if}}
    </div>
</div>
{{/if}}

<div class="description">
    {{#if action.condition}}
    <p class="condition"><strong>{{localize "ACTION.Condition"}}:</strong> {{{action.condition}}}</p>
    {{/if}}
    {{{action.description}}}
</div>

