{{#if hasDice}}
<section class="roller flexcol">
    {{> "systems/crucible/templates/dice/partials/standard-check-roll.hbs"}}
</section>
{{#if showDetails}}
<section class="details flexcol">
    {{> "systems/crucible/templates/dice/partials/standard-check-details.hbs"}}
</section>
{{/if}}
{{/if}}

<footer class="form-footer" {{#if submitTooltip}}data-tooltip aria-label="{{submitTooltip}}"{{/if}}>
    <div class="split-button">
        {{#each messageModes as |mode|}}
        <button type="button" class="ui-control icon {{mode.icon}}" data-action="messageMode"
                data-message-mode="{{mode.action}}" aria-pressed="{{mode.active}}"
                data-tooltip aria-label="{{localize mode.label}}"></button>
        {{/each}}
    </div>

    <button type="submit" class="dialog-button frame-brown" data-action="roll" {{disabled submitDisabled}}>
        <i class="fa-solid fa-dice"></i>
        <label>{{submitLabel}}</label>
    </button>
</footer>
