<div class="form-group spell-component">
    <label>{{localize "SPELL.ComponentRune"}}</label>
    <div class="form-fields">
        <select name="rune" class="component">
            {{selectOptions runes selected=action.rune.id nameAttr="id" labelAttr="name"}}
        </select>
    </div>
</div>

<div class="form-group spell-component">
    <label>{{localize "SPELL.ComponentGesture"}}</label>
    <div class="form-fields">
        <select name="gesture" class="component">
            {{selectOptions gestures selected=action.gesture.id nameAttr="id" labelAttr="name"}}
        </select>
    </div>
</div>

<div class="form-group spell-component">
    <label>{{localize "SPELL.ComponentInflection"}}</label>
    <div class="form-fields">
        <select name="inflection" class="component">
            {{selectOptions inflections selected=action.inflection.id blank="" nameAttr="id" labelAttr="name"}}
        </select>
    </div>
</div>

{{#if chooseDamageType}}
<div class="form-group spell-component">
    <label>{{localize "SPELL.DamageType"}}</label>
    <div class="form-fields">
        <select name="damageType" class="component">
            {{selectOptions damageTypes selected=action.damage.type}}
        </select>
    </div>
</div>
{{/if}}
