<div class="form-group modifiers">
    <div class="boons">
        <button type="button" class="icon fa-solid fa-arrow-down" {{#unless canDecreaseBoons}}disabled{{/unless}}
                data-action="boon-subtract"></button>
        <div class="hex boons-hex">
            <span class="value">{{totalBoons}}</span>
            <h4 class="label">Boons</h4>
        </div>
        <button type="button" class="icon fa-solid fa-arrow-up"  {{#unless canIncreaseBoons}}disabled{{/unless}}
                data-action="boon-add"></button>
    </div>
    <div class="banes">
        <button type="button" class="icon fa-solid fa-arrow-down" {{#unless canDecreaseBanes}}disabled{{/unless}}
                data-action="bane-subtract"></button>
        <div class="hex banes-hex">
            <span class="value">{{totalBanes}}</span>
            <h4 class="label">Banes</h4>
        </div>
        <button type="button" class="icon fa-solid fa-arrow-up"  {{#unless canIncreaseBanes}}disabled{{/unless}}
                data-action="bane-add"></button>
    </div>
</div>

<div class="pool flexrow">
    {{#each dice}}
    <div class="die {{this}}">{{this}}</div>
    {{/each}}
</div>

<div class="bonuses flexrow">
    <div class="bonus ability hex">
        <h4 class="label">Ability</h4>
        <span class="value ability">{{ability}}</span>
    </div>
    <div class="bonus enchantment hex">
        <h4 class="label">Enchantment</h4>
        <span class="value enchantment">{{enchantment}}</span>
    </div>
    <div class="bonus skill hex">
        <h4 class="label">Skill</h4>
        <span class="value skill">{{skill}}</span>
    </div>
</div>
