<div class="form-group boons">
    <label>Boons</label>
    <i class="action-button fas fa-arrow-down {{decreaseBoonsClass}}" data-action="boon-subtract"></i>
    <input type="number" value="{{totalBoons}}" readonly>
    <i class="action-button fas fa-arrow-up {{increaseBoonsClass}}" data-action="boon-add"></i>
    <label></label>
</div>

<div class="pool flexrow">
    {{#each dice}}
        <div class="die {{this}}">{{this}}</div>
    {{/each}}
</div>

<div class="form-group banes">
    <label>Banes</label>
    <i class="action-button fas fa-arrow-down {{decreaseBanesClass}}" data-action="bane-subtract"></i>
    <input type="number" value="{{totalBanes}}" readonly>
    <i class="action-button fas fa-arrow-up {{increaseBanesClass}}" data-action="bane-add"></i>
    <label></label>
</div>

<div class="bonuses flexrow">
    <div class="ability">
        <label>Ability</label>
        {{numberInput ability name="ability" min=-4 max=12 readonly=true}}
    </div>
    <div class="skill">
        <label>Skill</label>
        {{numberInput skill name="skill" min=-4 max=12 readonly=true}}
    </div>
    <div class="enchantment">
        <label>Enchantment</label>
        {{numberInput enchantment name="enchantment" min=-4 max=12 readonly=true}}
    </div>
</div>
