<aside id="crucible-talent-hud" class="app crucible sheet talent">

    {{!-- Sheet Header --}}
    <header class="sheet-header flexrow">
        <img class="profile" src="{{source.img}}" title="{{source.name}}"/>
        <h1 class="title">{{source.name}}</h1>
        <div class="tags header-tags">
            <label>Requirements:</label>
            {{#each tags as |tag|}}
                <span class="tag">{{tag}}</span>
            {{/each}}
        </div>
    </header>

    <div class="description">
        {{{source.system.description}}}
    </div>

    {{#if hasActions}}
    <h3 class="divider">
        <span></span><label>Actions</label><span></span>
    </h3>
    {{#each item.actions as |action|}}
        <div class="action flexrow" data-action-id="{{this.id}}">
            <div class="action-header flexrow">
                <img class="action-icon" src="{{action.img}}" title="{{action.name}}"/>
                <h4 class="action-name">{{action.name}}</h4>
                <div class="tags" data-tag-type="action">
                    {{#each action.getTags as |tags section|}}
                        {{#each tags as |label tag|}}
                            <span class="tag" data-tag="{{tag}}">{{label}}</span>
                        {{/each}}
                    {{/each}}
                </div>
            </div>
            {{#if action.condition}}
                <p class="condition">
                    <strong>{{localize "ACTION.Condition"}}:</strong> <em>{{action.condition}}</em>
                </p>
            {{/if}}
            <div class="description">{{{action.description}}}</div>
        </div>
    {{/each}}
    {{/if}}
</aside>
