<div class="waypoint-label {{cssClass}}">
    {{#if action.icon}}
    <i class="icon {{action.icon}}"></i>
    {{else if action.label}}
    <label class="action-label">{{localize action.label}}</label>
    {{/if}}

    <span class="total-measurement">{{distance.total}}{{distance.units}}</span>
    {{#if distance.delta}}
    <span class="delta-measurement">({{distance.delta}})</span>
    {{/if}}

    {{#if displayElevation}}
    <i class="icon fa-solid {{elevation.icon}}"></i>
    <span class="total-elevation">{{elevation.total}}{{distance.units}}</span>
    {{#if elevation.delta}}
    <span class="delta-elevation">({{elevation.delta}})</span>
    {{/if}}
    {{/if}}

    <span class="total-measurement delta-cost">{{cost.delta}}{{cost.units}}</span>
    {{#if cost.showTotal}}
    <span class="delta-measurement sep">=</span>
    <span class="total-measurement total-cost">[{{cost.total}}{{cost.units}}]</span>
    {{/if}}
    {{#if secret}}
    <i class="icon fa-solid fa-eye-slash"></i>
    {{/if}}
</div>
