<header class="fullscreen-header flexcol" style="--selection-color:{{activeStep.selectionColor}}">
    <menu id="hero-creation-nav" class="tabs flexrow" role="tablist">
        {{#each tabs as |step|}}
        <li class="step flexcol {{step.cssClass}}" data-action="tab" data-group="header" data-tab="{{step.id}}"
            {{#if step.selectionColor}}style="--selection-color:{{step.selectionColor}}"{{/if}}>
            <span class="step-number">{{step.numeral}}</span>
            <span class="step-title">{{step.label}}</span>
            <div class="step-banner flexcol">
                <img class="step-icon icon" src="{{step.selectionIcon}}" alt="{{step.label}}">
                {{#if step.selectionLabel}}
                <span class="step-selection">{{step.selectionLabel}}</span>
                {{/if}}
            </div>
        </li>
        {{/each}}
    </menu>

    <div class="fullscreen-buttons flexcol">
        {{#each buttons as |button|}}
        <button type="button" class="fullscreen-button plain" data-action="{{button.action}}">
            <i class="{{button.icon}}" inert></i>{{button.label}}
        </button>
        {{/each}}
    </div>
    <input id="hero-creation-name" type="text" name="name" value="{{charname}}" placeholder="Character Name" autocomplete="off">
</header>
