<section class="tab sheet-body standard-form scrollable {{tabs.config.cssClass}}"
         data-tab="{{tabs.config.id}}" data-group="{{tabs.config.group}}">
    <fieldset class="item-properties" {{fieldDisabled}}>
        <legend>{{fields.skills.label}}</legend>
        {{formInput fields.skills value=source.system.skills input=skillsInput}}
        <p class="hint">{{fields.skills.hint}}</p>
    </fieldset>
</section>
