<div class="spell line-item" data-uuid="{{spell.uuid}}">
    <div class="icon-frame">
        <img class="icon" src="{{spell.img}}" alt="{{spell.name}}">
    </div>
    <div class="title">
        <h4>{{spell.name}}</h4>
        {{crucibleTags spell.tags}}
    </div>
    {{#if isEditable}}
    <div class="controls">
        <a class="button icon fa-solid fa-times remove-spell" data-action="removeSpell"
           aria-label={{localize "ITEM.SHEET.SPELL_REMOVE"}} data-tooltip></a>
    </div>
    {{/if}}
    <div class="description">{{{spell.description}}}</div>
</div>
