<div class="talent line-item" data-uuid="{{talent.uuid}}">
    <div class="icon-frame">
        <img class="icon" src="{{talent.img}}" alt="{{talent.name}}">
    </div>
    <div class="title">
        <h4>{{talent.name}}</h4>
        {{crucibleTags talent.tags}}
    </div>
    {{#if isEditable}}
    <div class="controls">
        <a class="button icon fa-solid fa-times remove-talent" data-action="removeTalent"
           data-tooltip="ITEM.SHEET.TALENT_REMOVE"></a>
    </div>
    {{/if}}
    <div class="description">{{{talent.description}}}</div>
</div>
