<section class="tab sheet-body flexcol scrollable {{tabs.actions.cssClass}}"
         data-tab="{{tabs.actions.id}}" data-group="{{tabs.actions.group}}">
    {{#each actionGroups}}
    <fieldset>
        <legend>
            <span>{{#if this.legend}}{{this.legend}}{{else}}Actions{{/if}}</span>
            {{#if this.canAdd}}
            <a class="button icon" data-action="actionAdd" aria-label="{{localize "TALENT.ACTIONS.ActionAdd"}}" data-tooltip>
                <i class="fa-solid fa-plus"></i>
            </a>
            {{/if}}
        </legend>
        {{#each this.actions as |action|}}
        {{> (lookup @root "actionPartial") action=action isEditable=../isEditable}}
        {{/each}}
    </fieldset>
    {{/each}}
</section>
