<section class="tab sheet-body flexcol {{tabs.talents.cssClass}}"
         data-tab="{{tabs.talents.id}}" data-group="{{tabs.talents.group}}">
    <p class="hint">{{fields.talents.hint}}</p>
    {{#if talents.length}}
    <div class="talents-list flexcol scrollable">
        {{#each talents}}
        {{{this}}}
        {{/each}}
    </div>
    {{/if}}
    {{#if isEditable}}
    <div class="talent-drop droppable">
        <p class="hint">{{localize "ITEM.SHEET.TalentDrop"}}</p>
    </div>
    {{/if}}
</section>
