<section class="description">
    {{{descriptionHTML}}}
</section>

{{#if actions.length}}
<section class="actions">
    <h3 class="divider">Actions</h3>
    {{#each actions as |action|}}
    <div class="action line-item" data-action-id="{{this.id}}">
        <header class="action-header">
            <img class="icon" src="{{action.img}}" alt="{{action.name}}">
            <div class="title">
                <h4>{{action.name}}</h4>
                {{#unless tags.activation.empty}}
                <div class="tags">
                    {{crucibleTags tags.activation}}
                </div>
                {{/unless}}
            </div>
        </header>

        {{#unless tags.action.empty}}
        <div class="tags" data-tag-type="action">
            {{crucibleTags tags.action}}
        </div>
        {{/unless}}

        {{#unless tags.context.empty}}
        <div class="tags" data-tag-type="context">
            {{crucibleTags tags.context}}
        </div>
        {{/unless}}

        {{#if action.condition}}
        <p class="condition activation">
            <strong>{{localize "ACTION.Condition"}}:</strong> <em>{{action.condition}}</em>
        </p>
        {{/if}}

        <div class="description">{{{action.description}}}</div>

        {{#if action.effects.length}}
        <ol class="effects">
            {{#each action.effects as |effect|}}
            <li class="effect line-item">
                <div class="title">
                    <h4>Effect: <span class="effect-name">{{action.name}}</span></h4>
                </div>
                <div class="effect-tags tags">
                    {{crucibleTags effect.tags}}
                </div>
            </li>
            {{/each}}
        </ol>
        {{/if}}
    </div>
{{/each}}
</section>
{{/if}}
