<div class="crucible-item-card line-item spell" data-uuid="{{uuid}}">
    <header class="flexrow">
        <img class="icon" src="{{img}}" title="{{name}}"/>
        <div class="title">
            <h2>{{name}}</h2>
            <div class="spell-tags tags prerequisites">
                {{~#each prerequisites as |req|}}
                <span class="tag {{#unless req.met}}unmet{{/unless}}">{{req.tag}}</span>
                {{/each~}}
            </div>
        </div>
    </header>
    {{> "systems/crucible/templates/sheets/item/spell-summary.hbs"}}
</div>
