<section class="tab sheet-body flexcol {{tabs.config.cssClass}}"
         data-tab="{{tabs.config.id}}" data-group="{{tabs.config.group}}">

    <fieldset>
        <legend>{{localize "SPELL.SHEET.KNOWLEDGE"}}</legend>
        {{formGroup fields.runes value=source.system.runes options=runeOptions}}
        {{formGroup fields.gestures value=source.system.gestures options=gestureOptions}}
        {{formGroup fields.inflections value=source.system.inflections options=inflectionOptions}}
    </fieldset>
</section>
