<div class="crucible-item-inline line-item talent" data-uuid="{{uuid}}" data-crucible-talent-tooltip>
    <img class="icon" src="{{img}}" alt="{{name}}">
    <div class="title">
        <h4>{{name}}</h4>
        {{#if tags}}
        <div class="tags">
            {{#each tags}}
            <span class="tag">{{this}}</span>
            {{/each}}
        </div>
        {{/if}}
    </div>
</div>
