<section class="tab sheet-body standard-form scrollable {{tabs.config.cssClass}}"
         data-tab="{{tabs.config.id}}" data-group="{{tabs.config.group}}">
    <fieldset {{fieldDisabled}}>
        <legend>{{localize "ITEM.SHEET.TYPE"}}</legend>
        {{formGroup fields.identifier value=source.system.identifier}}
        {{formGroup fields.category value=source.system.category}}
        {{formGroup fields.quality value=source.system.quality}}
        {{formGroup fields.enchantment value=source.system.enchantment}}
    </fieldset>

    <fieldset class="item-properties" {{fieldDisabled}}>
        <legend>{{fields.properties.label}}</legend>
        {{formGroup fields.properties value=item.system.properties widget=propertiesWidget}}
    </fieldset>

    <fieldset class="item-equipment" {{fieldDisabled}}>
        <legend>{{localize "ITEM.SHEET.EQUIPMENT"}}</legend>
        {{formGroup fields.quantity value=source.system.quantity classes="slim half"}}
        {{formGroup fields.weight value=source.system.weight classes="slim half"}}
        {{formGroup fields.equipped value=source.system.equipped classes="half"}}
        {{formGroup fields.broken value=source.system.broken classes="half"}}
        {{formGroup fields.price value=source.system.price input=currencyInput classes="currency"}}
        {{formGroup scaledPriceField value=item.system.price input=currencyInput classes="currency" readonly=true disabled=true}}
        {{#if requiresInvestment}}{{formGroup fields.invested value=source.system.invested}}{{/if}}
    </fieldset>
</section>
