<section class="tab sheet-body standard-form scrollable {{tabs.config.cssClass}}"
         data-tab="{{tabs.config.id}}" data-group="{{tabs.config.group}}">
    <fieldset {{fieldDisabled}}>
        <legend>{{localize "WEAPON.SHEET.TYPE"}}</legend>
        {{formGroup fields.identifier value=source.system.identifier}}
        {{formGroup fields.category value=source.system.category}}
        {{formGroup fields.quality value=source.system.quality}}
        {{formGroup fields.enchantment value=source.system.enchantment}}
        {{formGroup fields.damageType value=source.system.damageType hint=false}}
    </fieldset>

    <fieldset class="item-properties" {{fieldDisabled}}>
        <legend>{{fields.properties.label}}</legend>
        {{formGroup fields.properties value=item.system.properties widget=propertiesWidget}}
    </fieldset>

    <fieldset class="item-equipment" {{fieldDisabled}}>
        <legend>{{localize "WEAPON.SHEET.EQUIPMENT"}}</legend>
        {{#if source.system.equipped}}{{formGroup fields.slot value=source.system.slot options=equipmentSlots classes="double" hint=false}}{{/if}}
        {{formGroup fields.equipped value=source.system.equipped}}
        {{formGroup fields.broken value=source.system.broken}}
        {{#if usesReload}}{{formGroup fields.loaded value=source.system.loaded hint=false classes="reload"}}{{/if}}
        {{formGroup fields.quantity value=source.system.quantity classes="slim"}}
        {{formGroup fields.weight value=source.system.weight classes="slim"}}
        {{formGroup fields.price value=source.system.price classes="slim"}}
        {{formGroup scaledPriceField value=item.system.price classes="slim" disabled=true}}
        {{#if requiresInvestment}}
        {{formGroup fields.invested value=source.system.invested}}
        {{/if}}
    </fieldset>
</section>
