<div class="tab spells flexcol" data-group="primary" data-tab="spells">
{{#each grimoire as |section id|}}
    <header class="{{id}} items-header spells-header flexrow">
        <div class="item-name flexrow">
            <h4>{{section.label}}</h4>
        </div>
    </header>
    <ol class="items-list">
        {{#each section.known}}
            <li class="line-item" data-component="{{this.id}}">
                <div class="name" data-tooltip="{{{this.description}}}">
                    <img class="icon" src="{{this.img}}" title="{{this.name}}">
                    <h4>{{this.name}}</h4>
                </div>
                <div class="tags">
                    {{#each this.tags as |tag|}}
                        <span class="tag">{{tag}}</span>
                    {{/each}}
                </div>
            </li>
        {{else}}
            <li class="notes">No {{section.label}} Known.</li>
        {{/each}}
    </ol>
{{/each}}
</div>
