<section class="sheet-sidebar flexcol">
    <img class="profile" src="{{data.img}}" title="{{data.name}}" data-edit="img" width="200" height="200"/>
    <section class="overview">

        {{!-- Current Equipment --}}
        <div class="equipped">
            <h2 class="section-header divider"><span></span><label>{{localize "SHEET.CurrentEquipment"}}</label><span></span></h2>
            {{#each featuredEquipment as |e|}}
                <div class="equipped line-item">
                    <div class="name">
                        <img class="icon" src="{{e.img}}">
                        <h4>{{e.name}}</h4>
                    </div>
                    <div class="tags">
                        <span class="tag">{{e.tag}}</span>
                    </div>
                </div>
            {{/each}}
        </div>

        {{!-- Available Actions --}}
        <div class="actions">
            <h2 class="section-header divider"><span></span><label>{{localize "SHEET.AvailableActions"}}</label><span></span></h2>
            {{#each actions}}
                <div class="action line-item" data-action-id="{{this.id}}">
                    <div class="name" data-action="useAction">
                        <img class="icon" src="{{this.img}}">
                        <h4><a>{{this.name}}</a></h4>
                    </div>
                    <div class="tags">
                        {{#each this.tags as |label tag|}}
                            <span class="tag {{tag}}">{{label}}</span>
                        {{/each}}
                    </div>
                </div>
            {{/each}}
        </div>

        {{!-- Active Effects --}}
        <div class="effects">
            <h2 class="section-header divider"><span></span><label>{{localize "SHEET.ActiveEffects"}}</label><span></span></h2>
            {{#each effects as |effect|}}
                <div class="effect line-item" data-effect-id="{{effect.id}}">
                    <div class="name">
                        <img class="icon" src="{{effect.icon}}">
                        <h4>{{effect.label}}</h4>
                    </div>
                    <div class="tags">
                        {{#each effect.tags as |label tag|}}
                            <span class="tag" data-tag="{{tag}}">{{label}}</span>
                        {{/each}}
                    </div>
                    <div class="controls">
                        <a class="control" data-action="effectEdit" data-tooltip="Edit Effect">
                            <i class="fas fa-edit"></i>
                        </a>
                        <a class="control" data-action="effectDelete" data-tooltip="Delete Effect">
                            <i class="fas fa-trash"></i>
                        </a>
                    </div>
                </div>
            {{/each}}
        </div>
    </section>
</section>
