<fieldset class="hook {{#if isModule}}module-hook{{/if}}" {{#if isModule}}data-hook-id="{{hookId}}"{{/if}}>
    {{#if legend}}<legend>{{legend}}</legend>{{/if}}
    <div class="form-group stacked">
        <label class="flexrow">
            <code>{{label}}</code>
        </label>
        {{#if isModule}}
        <button type="button" class="icon fa-solid fa-code" data-action="hookToggleSource"
                data-tooltip="HOOKS.ToggleSource"></button>
        {{#if expanded}}
        <code-mirror class="hook-editor" language="javascript" indent="2" disabled>
            {{~source~}}
        </code-mirror>
        {{/if}}
        {{else}}
        {{#unless disableHooks}}
        <button type="button" class="icon frame-brown fa-solid fa-times" data-action="hookDelete"></button>
        {{/unless}}
        <input type="hidden" name="{{namePrefix}}.{{i}}.hook" value="{{hookName}}">
        <code-mirror class="hook-editor" name="{{namePrefix}}.{{i}}.fn" language="javascript">
            {{~fn~}}
        </code-mirror>
        {{/if}}
    </div>
</fieldset>
