<div class="talent line-item" data-uuid="{{talent.uuid}}">
    <header class="talent-header flexrow">
        <img class="icon" src="{{talent.img}}" alt="{{talent.name}}">
        <h4 class="title">{{talent.name}}</h4>
        <div class="tags">
        {{#each tags as |tag type|}}
            <span class="tag" data-tag="{{type}}">{{tag}}</span>
        {{/each}}
        </div>
        {{#if editable}}
        <a class="button remove-talent" data-action="removeTalent" data-tooltip="BACKGROUND.RemoveTalent">
            <i class="fa-solid fa-times"></i>
        </a>
        {{/if}}
    </header>
    <div class="description">{{{talent.system.description}}}</div>
</div>
