<div class="talent line-item" data-uuid="{{talent.uuid}}">
    <img class="icon" src="{{talent.img}}" alt="{{talent.name}}">
    <div class="title">
        <h4>{{talent.name}}</h4>
        <div class="tags">
            {{#each tags as |tag type|}}
            <span class="tag" data-tag="{{type}}">{{tag}}</span>
            {{/each}}
        </div>
    </div>
    {{#if editable}}
    <div class="controls">
        <a class="button icon fa-solid fa-times remove-talent" data-action="removeTalent"
           data-tooltip="BACKGROUND.SHEET.TALENT_REMOVE"></a>
    </div>
    {{/if}}
    <div class="description">{{{talent.system.description}}}</div>
</div>
