<div class="action line-item" data-action-id="{{action.id}}">
    <img class="icon" src="{{action.img}}" alt="{{action.name}}">
    <div class="title">
        <h4>{{action.name}}</h4>
    </div>
    {{#if isEditable}}
    <div class="controls">
        <a class="button icon fa-solid fa-edit" data-action="actionEdit" data-tooltip="TALENT.ACTIONS.EDIT"></a>
        <a class="button icon fa-solid fa-trash" data-action="actionDelete" data-tooltip="TALENT.ACTIONS.DELETE"></a>
    </div>
    {{/if}}
    <div class="description">{{{action.description}}}</div>
    {{#if action.effects.length}}
    <ol class="effects">
        {{#each action.effects as |effect|}}
        <li class="effect line-item">
            <img class="icon" src="{{effect.img}}" alt="{{effect.name}}">
            <div class="title">
                <h4>Effect: <span class="effect-name">{{effect.name}}</span></h4>
            </div>
            <div class="effect-tags tags">
                {{#each effect.tags as |label tag|}}
                <span class="tag" data-tag="{{tag}}">{{label}}</span>
                {{/each}}
            </div>
        </li>
        {{/each}}
    </ol>
    {{/if}}
</div>
