<section class="tab sheet-body flexcol {{tabs.description.cssClass}}"
         data-tab="{{tabs.description.id}}" data-group="{{tabs.description.group}}">
    {{#if isEditable}}
    {{formInput fields.description value=source.system.description enriched=descriptionHTML toggled=true}}
    {{else}}
    <article class="scrollable">{{{descriptionHTML}}}</article>
    {{/if}}
</section>
