<section class="tab sheet-body flexcol {{tabs.description.cssClass}}"
         data-tab="{{tabs.description.id}}" data-group="{{tabs.description.group}}">
    {{formField fields.description.fields.public value=source.system.description.public height=200 stacked=true toggled=true}}
    {{formField fields.description.fields.secret value=source.system.description.secret height=200 stacked=true toggled=true}}
</section>
