<form>
    <div class="action line-item">
        {{> "systems/crucible/templates/dice/partials/action-use-header.hbs"}}
    </div>

    {{#if weaponChoice}}
    {{formGroup weaponChoice.field value=weaponChoice.value}}
    {{/if}}

    {{#if hasDice}}
    <section class="roller flexcol">
        {{> "systems/crucible/templates/dice/partials/standard-check-roll.hbs"}}
    </section>
    {{#if showDetails}}
    <section class="details flexcol">
        {{> "systems/crucible/templates/dice/partials/standard-check-details.hbs"}}
    </section>
    {{/if}}
    {{/if}}

    <footer class="form-footer">
        <div class="roll-modes flexrow">
            {{#each rollModes as |mode key|}}
            <input type='radio' id="{{../rootId}}_{{key}}" name='rollMode' value='{{key}}' {{checked (eq key ../rollMode)}} />
            <label for="{{../rootId}}_{{key}}" class='button ui-control icon {{mode.icon}}' aria-pressed="{{eq key ../rollMode}}" data-tooltip
                aria-label="{{localize mode.label}}"></label>
            {{/each}}
        </div>
        <button type="submit" class="dialog-button frame-brown" data-action="roll">
            <i class="fas fa-dice"></i>
            <label>Use Action</label>
        </button>
    </footer>
</form>
