<form>
    <div class="action line-item">
        {{> "systems/crucible/templates/dice/partials/action-use-header.hbs"}}
    </div>

    <div class="form-group spell-component">
        <label>{{localize "SPELL.COMPONENTS.Rune"}}</label>
        <div class="form-fields">
            <select name="rune" class="component">
                {{selectOptions runes selected=action.rune.id valueAttr="id" labelAttr="name"}}
            </select>
        </div>
        <p class="hint">Targeted Rune: {{targetedRune}}</p>
    </div>

    <div class="form-group spell-component">
        <label>{{localize "SPELL.COMPONENTS.Gesture"}}</label>
        <div class="form-fields">
            <select name="gesture" class="component">
                {{selectOptions gestures selected=action.gesture.id valueAttr="id" labelAttr="name"}}
            </select>
        </div>
        <p class="hint">Targeted Gesture: {{targetedGesture}}</p>
    </div>

    {{#if hasDice}}
    <section class="content roller flexcol">
        {{> "systems/crucible/templates/dice/partials/standard-check-roll.hbs"}}
    </section>
    <section class="details flexcol">
        {{> "systems/crucible/templates/dice/partials/standard-check-details.hbs"}}
    </section>
    {{/if}}

    <footer class="form-footer">
        <div class="split-button">
            {{#each rollModes as |mode|}}
            <button type="button" class="ui-control icon {{mode.icon}}" data-action="rollMode"
                    data-roll-mode="{{mode.action}}" aria-pressed="{{mode.active}}"
                    data-tooltip aria-label="{{localize mode.label}}"></button>
            {{/each}}
        </div>
        <button type="submit" class="dialog-button frame-brown" data-action="roll">
            <i class="fas fa-dice"></i>
            <label>Counterspell</label>
        </button>
    </footer>
</form>
