<section class="crucible group-check-result themed theme-dark">
    <p>{{title}}</p>
    <div class="group-check-actors flexcol">
        {{#each actors as |entry|}}
        {{#if entry.showRollResult}}
        <div class="{{entry.rollContext.cssClass}} group-check-row expanded" data-action="expandRoll" data-actor-id="{{entry.actorId}}">
            {{#if entry.rollContext}}
            {{> "systems/crucible/templates/dice/partials/standard-check-dice-result.hbs" entry.rollContext}}
            {{/if}}
        </div>
        {{else}}
        <div class="group-check-row line-item {{entry.status}}" data-actor-id="{{entry.actorId}}">
            <img class="icon" src="{{entry.actorImg}}" alt="{{entry.actorName}}">
            <div class="title">
                <h4 class="ellipsis" data-tooltip="{{entry.actorName}}">{{entry.actorName}}</h4>
            </div>
            {{#if entry.statusDisplay}}
            <span class="{{entry.statusDisplay.classes}}"{{#if entry.statusDisplay.tooltip}} data-tooltip="{{entry.statusDisplay.tooltip}}"{{/if}}>{{entry.statusDisplay.text}}</span>
            {{/if}}
        </div>
        {{/if}}
        {{/each}}
    </div>
</section>
