<form>
    <div class="action line-item">
        {{> "systems/crucible/templates/dice/partials/action-use-header.hbs"}}
    </div>

    <div class="form-group spell-component">
        <label>{{localize "SPELL.COMPONENTS.Rune"}}</label>
        <div class="form-fields">
            <select name="rune" class="component">
                {{selectOptions runes selected=action.rune.id nameAttr="id" labelAttr="name"}}
            </select>
        </div>
    </div>

    <div class="form-group spell-component">
        <label>{{localize "SPELL.COMPONENTS.Gesture"}}</label>
        <div class="form-fields">
            <select name="gesture" class="component">
                {{selectOptions gestures selected=action.gesture.id nameAttr="id" labelAttr="name"}}
            </select>
        </div>
    </div>

    <div class="form-group spell-component">
        <label>{{localize "SPELL.COMPONENTS.Inflection"}}</label>
        <div class="form-fields">
            <select name="inflection" class="component">
                {{selectOptions inflections selected=action.inflection.id blank="" nameAttr="id" labelAttr="name"}}
            </select>
        </div>
    </div>

    {{#if chooseDamageType}}
        <div class="form-group spell-component">
            <label>{{localize "SPELL.DamageType"}}</label>
            <div class="form-fields">
                <select name="damageType" class="component">
                    {{selectOptions damageTypes selected=action.damage.type}}
                </select>
            </div>
        </div>
    {{/if}}

    {{#if hasDice}}
    <section class="content roller flexcol">
        {{> "systems/crucible/templates/dice/partials/standard-check-roll.hbs"}}
    </section>
    <section class="details flexcol">
        {{> "systems/crucible/templates/dice/partials/standard-check-details.hbs"}}
    </section>
    {{/if}}

    <footer class="form-footer">
        <div class="roll-modes flexrow">
            {{#each rollModes as |mode key|}}
            <input type='radio' id="{{../rootId}}_{{key}}" name='rollMode' value='{{key}}' {{checked (eq key ../rollMode)}} />
            <label for="{{../rootId}}_{{key}}" class='button ui-control icon {{mode.icon}}' aria-pressed="{{eq key ../rollMode}}" data-tooltip
                aria-label="{{localize mode.label}}"></label>
            {{/each}}
        </div>
        <button type="submit" class="dialog-button frame-brown" data-action="roll">
            <i class="fas fa-dice"></i>
            <label>Cast Spell</label>
        </button>
    </footer>
</form>
