<form>
    <div class="action line-item">
        {{> "systems/crucible/templates/dice/partials/action-use-header.hbs"}}
    </div>

    <div class="form-group spell-component">
        <label>{{localize "SPELL.COMPONENTS.Rune"}}</label>
        <div class="form-fields">
            <select name="rune" class="component">
                {{selectOptions runes selected=action.rune.id valueAttr="id" labelAttr="name"}}
            </select>
        </div>
        {{#if runeHint}}<p class="hint">{{runeHint}}</p>{{/if}}
    </div>

    <div class="form-group spell-component">
        <label>{{localize "SPELL.COMPONENTS.Gesture"}}</label>
        <div class="form-fields">
            <select name="gesture" class="component">
                {{selectOptions gestures selected=action.gesture.id valueAttr="id" labelAttr="name"}}
            </select>
        </div>
        {{#if gestureHint}}<p class="hint">{{gestureHint}}</p>{{/if}}
    </div>

    {{#if canInflect}}
    <div class="form-group spell-component">
        <label>{{localize "SPELL.COMPONENTS.Inflection"}}</label>
        <div class="form-fields">
            <select name="inflection" class="component">
                {{selectOptions inflections selected=action.inflection.id blank="" valueAttr="id" labelAttr="name"}}
            </select>
        </div>
        {{#if inflectionHint}}<p class="hint">{{inflectionHint}}</p>{{/if}}
    </div>
    {{/if}}

    {{#if chooseDamageType}}
    <div class="form-group spell-component">
        <label>{{localize "SPELL.DamageType"}}</label>
        <div class="form-fields">
            <select name="damageType" class="component">
                {{selectOptions damageTypes selected=action.damage.type}}
            </select>
        </div>
    </div>
    {{/if}}

    {{#if hasDice}}
    <section class="content roller flexcol">
        {{> "systems/crucible/templates/dice/partials/standard-check-roll.hbs"}}
    </section>
    <section class="details flexcol">
        {{> "systems/crucible/templates/dice/partials/standard-check-details.hbs"}}
    </section>
    {{/if}}

    <footer class="form-footer">
        <div class="split-button">
            {{#each rollModes as |mode|}}
            <button type="button" class="ui-control icon {{mode.icon}}" data-action="rollMode"
                    data-roll-mode="{{mode.action}}" aria-pressed="{{mode.active}}"
                    data-tooltip aria-label="{{localize mode.label}}"></button>
            {{/each}}
        </div>
        <button type="submit" class="dialog-button frame-brown" data-action="roll">
            <i class="fas fa-dice"></i>
            <label>{{localize "ACTION.DEFAULT_ACTIONS.Cast.Name"}}</label>
        </button>
    </footer>
</form>
