<div class="{{cssClass}}" data-action="expandRoll">
    {{#if data.newTarget}}
    <div class="roll-target flexrow">
        <label class="tag-icon">
        <i class="fa-solid fa-bullseye"></i>
        </label>
        <div class="tags" data-tag-type="target">
            <span class="target-link tag" data-uuid="{{target.uuid}}">{{target.name}}</span>
        </div>
    </div>
    {{/if}}
    <div class="dice-result">
        <h4 class="dice-total check-result">
            <span class="outcome">{{outcome}}</span>
            <span class="result hex">{{total}}</span>
            <span class="target">{{#if isGM}}{{defenseType}} {{defenseValue}}{{/if}}</span>
        </h4>
        {{#if damage.display}}
        <h4 class="dice-total damage-result {{damage.cssClass}}">
            <span class="outcome">{{damage.label}}</span>
            <span class="result hex">{{damage.total}}</span>
            <span class="target">{{damage.typeLabel}}</span>
        </h4>
        {{/if}}

        <div class="dice-tooltip check-tooltip flexcol">
            <section class="details flexcol">
                {{> "systems/crucible/templates/dice/partials/standard-check-details.hbs" data}}
            </section>
            <div class="pool flexrow">
                {{#each pool}}
                    <div class="die {{this.denom}}">
                        <span class="result">{{this.result}}</span>
                        <h4 class="label">{{this.denom}}</h4>
                    </div>
                {{/each}}
            </div>
            <div class="roll-breakdown flexcol">
                <div class="counter">
                    <label>{{localize "DICE.DiceTotal"}}</label>
                    <span class="tag">{{diceTotal}}</span>
                </div>
                <div class="counter">
                    <label>{{localize "DICE.AbilityBonus"}}</label>
                    <span class="tag">{{data.ability}}</span>
                </div>
                <div class="counter">
                    <label>{{localize "DICE.SkillBonus"}}</label>
                    <span class="tag">{{data.skill}}</span>
                </div>
                <div class="counter">
                    <label>{{localize "DICE.EnchantmentBonus"}}</label>
                    <span class="tag">{{data.enchantment}}</span>
                </div>
                <div class="counter total">
                    <label>{{localize "DICE.RollTotal"}}</label>
                    <span class="hex">{{total}}</span>
                </div>
            </div>

            {{#if damage.display}}
            <div class="roll-breakdown damage-breakdown flexcol">
                <div class="counter">
                    <label>{{localize "DICE.DamageOverflow"}}{{#if damage.hasMultiplier}} (x{{damage.multiplier}}){{/if}}</label>
                    <span class="tag">{{damage.overflow}}</span>
                </div>
                <div class="counter">
                    <label>{{damage.baseLabel}}</label>
                    <span class="tag">{{damage.base}}</span>
                </div>
                <div class="counter">
                    <label>{{localize "DICE.DamageBonus"}}</label>
                    <span class="tag">{{damage.bonus}}</span>
                </div>
                <div class="counter">
                    <label>{{localize damage.resistanceLabel}}</label>
                    <span class="tag">{{damage.resistanceValue}}</span>
                </div>
                <div class="counter total">
                    <label>{{localize "DICE.DamageTotal"}}</label>
                    <span class="hex">{{damage.total}}</span>
                </div>
            </div>
            {{/if}}
        </div>
    </div>
</div>
