<div class="{{cssClass}}">
    {{#if data.newTarget}}
    <div class="roll-target flexrow">
        <label class="tag-icon">
        <i class="fa-solid fa-bullseye"></i>
        </label>
        <div class="tags" data-tag-type="target">
            <span class="target-link tag" data-uuid="{{target.uuid}}">{{target.name}}</span>
        </div>
    </div>
    {{/if}}
    <div class="dice-result">
        <div class="dice-tooltip">
            <div class="dice-formula">{{formula}}</div>
            <section class="details flexcol">
                {{> "systems/crucible/templates/dice/partials/standard-check-details.hbs" data}}
            </section>
            <div class="pool flexrow">
                {{#each pool}}
                <div class="die {{this.denom}}">
                    <span class="result">{{this.result}}</span>
                    <h4 class="label">{{this.denom}}</h4>
                </div>
                {{/each}}
            </div>

            <div class="counter">
                <label>{{localize "DICE.DiceTotal"}}</label>
                <span class="hex">{{diceTotal}}</span>
            </div>
            <div class="counter">
                <label>{{localize "DICE.AbilityBonus"}}</label>
                <span class="hex">{{data.ability}}</span>
            </div>
            <div class="counter">
                <label>{{localize "DICE.SkillBonus"}}</label>
                <span class="hex">{{data.skill}}</span>
            </div>
            <div class="counter">
                <label>{{localize "DICE.EnchantmentBonus"}}</label>
                <span class="hex">{{data.enchantment}}</span>
            </div>
        </div>

        <h4 class="dice-total check-result">
            <span class="outcome">{{outcome}}</span>
            <span class="result hex">{{total}}</span>
            {{#if isGM}}
            <span class="dc">{{defenseType}} {{defenseValue}}</span>
            {{/if}}
        </h4>

        {{#if data.damage.total}}
        <div class="dice-tooltip">
            <div class="counter">
                <label>{{localize "DICE.DamageOverflow"}}{{#if hasMultiplier}} (x{{data.damage.multiplier}}){{/if}}</label>
                <span>{{data.damage.overflow}}</span>
            </div>
            <div class="counter">
                <label>{{baseLabel}}</label>
                <span>{{data.damage.base}}</span>
            </div>
            <div class="counter">
                <label>{{localize "DICE.DamageBonus"}}</label>
                <span>{{data.damage.bonus}}</span>
            </div>
            <div class="counter">
                <label>{{localize resistanceLabel}}</label>
                <span>{{resistanceValue}}</span>
            </div>
        </div>

        <h4 class="dice-total damage-result">
            <span class="outcome">{{damageLabel}}</span>
            <span>{{data.damage.total}}</span>
            <span class="target">{{damageType}}</span>
        </h4>
        {{/if}}
    </div>
</div>
