<form class="standard-check flexcol">
    <section class="content flexrow">
        <div class="roller flexcol">
            <div class="form-group boons">
                <label>Boons</label>
                <i class="action-button fas fa-arrow-down" data-action="boon-subtract"></i>
                {{numberInput boons name="boons" step=1 min=0 max=6}}
                <i class="action-button fas fa-arrow-up" data-action="boon-add"></i>
                <label></label>
            </div>

            <div class="pool flexrow">
                {{#each dice}}
                <div class="die {{this}}">{{this}}</div>
                {{/each}}
            </div>

            <div class="form-group banes">
                <label>Banes</label>
                <i class="action-button fas fa-arrow-down" data-action="bane-subtract"></i>
                {{numberInput banes name="banes" step=1 min=0 max=6}}
                <i class="action-button fas fa-arrow-up" data-action="bane-add"></i>
                <label></label>
            </div>

            <ol class="bonuses flexrow">
                <li class="ability">
                    <label>Ability</label>
                    {{numberInput ability name="ability" min=-4 max=12 readonly=true}}
                </li>
                <li class="skill">
                    <label>Skill</label>
                    {{numberInput skill name="skill" min=-4 max=12 readonly=true}}
                </li>
                <li class="enchantment">
                    <label>Enchantment</label>
                    {{numberInput enchantment name="enchantment" min=-4 max=12 readonly=true}}
                </li>
            </ol>
            </div>
        </div>

        {{#if isGM}}
        <div class="target flexcol">
            <select name="tier">
                {{selectOptions difficulties selected=difficulty.dc nameAttr="dc" labelAttr="label" blank="Assign Difficulty"}}
            </select>
            {{numberInput difficulty.dc class="dc" name="dc" min=0 max=50}}
            <label class="difficulty">{{difficulty.label}}</label>
            <select name="rollMode">
                {{selectOptions rollModes selected=rollMode localize=true}}
            </select>
        </div>
        {{/if}}
    </section>

    <footer class="buttons flexrow">
        {{#unless isGM}}
        <select name="rollMode">
            {{selectOptions rollModes selected=rollMode localize=true}}
        </select>
        {{/unless}}
        <button type="button" class="dialog-button" data-button="ok">
            <i class="fas fa-dice"></i>
            <label>Roll Check</label>
        </button>
        {{#if isGM}}
        <button type="button" class="action-button" data-action="request">
            <i class="fas fa-arrow-right"></i>
            <label>Request Roll</label>
        </button>
        {{/if}}
    </footer>
</form>
