<div class="roll-form standard-form">
    <section class="roller flexcol">
        {{> "systems/crucible/templates/dice/partials/standard-check-roll.hbs"}}
    </section>

    {{#if isGM}}
    <section class="difficulty form-group">
        <div class="form-fields">
            <select name="difficultyTier">
                {{selectOptions difficulties selected=difficulty.dc valueAttr="dc" labelAttr="label" blank="DICE.DIFFICULTIES.Custom" localize=true}}
            </select>
            <label>{{localize "DICE.DC"}}</label>
            {{numberInput difficulty.dc class="dc" name="dc" min=0 max=50}}
        </div>
    </section>
    {{/if}}

    {{#if showDetails}}
    <section class="details flexcol">
        {{> "systems/crucible/templates/dice/partials/standard-check-details.hbs"}}
    </section>
    {{/if}}
</div>

{{#if request}}
<aside class="request-form standard-form">
    <h3 class="divider">{{localize "ACTION.RequestedActors"}}</h3>
    <div class="requested-actors flexcol droppable scrollable">
        {{#each request.actors as |actor|}}
        <div class="line-item member" data-actor-id="{{actor.id}}">
            <img class="icon" src="{{actor.img}}">
            <div class="title">
                <h4>{{actor.name}}</h4>
                <div class="tags">
                    {{#each actor.tags as |label tag|}}
                    <span class="tag">{{label}}</span>
                    {{/each}}
                </div>
            </div>
            <div class="controls">
                <button type="button" class="icon fa-solid fa-times" data-tooltip="Remove Actor"
                        data-action="requestRemove"></button>
            </div>
        </div>
        {{else}}
        <p class="hint">{{localize "ACTION.RequestActorsHint"}}</p>
        {{/each}}
    </div>
</aside>
{{/if}}

<footer class="form-footer">
    <div class="split-button">
        {{#each rollModes as |mode|}}
        <button type="button" class="ui-control icon {{mode.icon}}" data-action="rollMode"
                data-roll-mode="{{mode.action}}" aria-pressed="{{mode.active}}"
                data-tooltip aria-label="{{localize mode.label}}"></button>
        {{/each}}
    </div>
    {{#each buttons as |button|}}
        <button type="{{button.type}}" class="dialog-button frame-brown {{button.cssClass}}" data-action="{{button.action}}" data-tooltip-text="{{button.tooltip}}">
            {{#if button.icon}}<i class="{{button.icon}}"></i>{{/if}}
            {{#if button.label}}<span>{{button.label}}</span>{{/if}}
        </button>
    {{/each}}
</footer>
