<form class="{{cssClass}} flexrow" autocomplete="off">

    {{!-- Left Sidebar --}}
    {{> "systems/crucible/templates/sheets/partials/actor-sidebar.hbs"}}

    {{!-- Main Content --}}
    <section class="sheet-body flexcol">

        {{!-- Sheet Header --}}
        <header class="sheet-header flexcol">
            <div class="title flexrow">
                <h1 class="charname">
                    <input name="name" type="text" value="{{actor.name}}" placeholder="Actor Name">
                </h1>
                <label><i class="threat-icon {{threat.icon}}" data-tooltip="{{threat.label}}"></i> Level</label>
                <div class="controls flexcol">
                    <a class="control {{#unless canLevelUp}}inactive{{/unless}} increase" data-tooltip="Increase Level" data-action="levelIncrease">
                        <i class="fas fa-caret-up"></i>
                    </a>
                    <a class="control {{#unless canLevelDown}}inactive{{/unless}} decrease" title="Decrease Level" data-action="levelDecrease">
                        <i class="fas fa-caret-down"></i>
                    </a>
                </div>
                <input class="level" type="text" name="system.details.level" value="{{levelDisplay}}" disabled>
            </div>

            <div class="subtitle flexrow">
                <h2 class="taxonomy tag flexrow {{#if incomplete.taxonomy}}inactive" data-tooltip="WALKTHROUGH.ConfigureTaxonomy{{/if}}"
                        data-action="viewTaxonomy">
                    {{taxonomyName}}
                    {{#if incomplete.taxonomy}}
                    <i class="control incomplete fa-solid fa-plus-circle" data-tooltip="TAXONOMY.Browse"></i>
                    {{/if}}
                </h2>
                <h2 class="archetype tag flexrow {{#if incomplete.archetype}}inactive" data-tooltip="WALKTHROUGH.ConfigureArchetype"{{/if}}"
                data-action="viewArchetype">
                    {{archetypeName}}
                    {{#if incomplete.archetype}}
                    <i class="control incomplete fa-solid fa-plus-circle" data-tooltip="ARCHETYPE.Browse"></i>
                    {{/if}}
                </h2>
                <span class="flex1"></span>
                <select class="stature" name="system.details.stature">
                    {{selectOptions statures selected=source.system.details.stature labelAttr="label"}}
                </select>
                <select class="threat" name="system.details.threat">
                    {{selectOptions threats selected=source.system.details.threat labelAttr="label"}}
                </select>
            </div>
        </header>

        {{!-- Sheet Navigation --}}
        <nav class="sheet-navigation tabs" data-group="primary">
            <a class="item badge attributes" data-tab="attributes">Attributes</a>
            <a class="item badge skills" data-tab="skills">Skills</a>
            <a class="item badge talents" data-tab="talents">Talents</a>
            <a class="item badge inventory" data-tab="inventory">Inventory</a>
            <a class="item badge spells" data-tab="spells">Grimoire</a>
            <a class="item badge biography" data-tab="biography">Biography</a>
        </nav>

        {{!-- Attributes Tab --}}
        <div class="tab attributes flexcol" data-group="primary" data-tab="attributes">

            {{!-- Character Resources --}}
            <section class="resources flexrow">
                <h2 class="section-header divider">
                    <span></span><label>Resources</label><span></span>
                </h2>

                {{#each resources as |resource|}}
                <div class="resource {{resource.id}}">
                    <h3 class="category-header divider" data-tooltip="{{resource.tooltip}}">
                        <span></span>
                        <label>{{resource.label}}</label>
                        <span></span>
                    </h3>
                    <div class="resource-values flexrow">
                        <input type="number" name="system.resources.{{resource.id}}.value" value="{{resource.value}}" placeholder="0">
                        <span class="slash"></span>
                        <span class="input resource-max">{{resource.max}}</span>
                        <div class="bar" style="background: {{resource.color.bg}}">
                            <div class="fill" style="width:{{resource.pct}}%; background: {{resource.color.fill}}"></div>
                        </div>
                    </div>
                </div>
                {{/each}}
            </section>

            {{!-- Abilities --}}
            <section class="abilities">
                <h2 class="section-header divider">
                    <span></span>
                    <label>Abilities</label>
                    <span></span>
                </h2>
                <ol class="ability-scores">
                {{#each abilityScores as |attr|}}
                    <li class="ability flexrow" data-ability="{{attr.id}}">
                        <h4 class="label badge {{attr.id}}">{{attr.label}}</h4>
                        <span class="input score">{{attr.value}}</span>
                    </li>
                {{/each}}
                </ol>
            </section>

            {{!-- Defenses --}}
            <section class="defenses">
                <h2 class="section-header divider">
                    <span></span>
                    <label>Defenses</label>
                    <span></span>
                </h2>

                {{! Save Defenses --}}
                <div class="save-defenses">
                    {{#each saveDefenses as |defense|}}
                    <div class="defense save flexrow" data-defense="{{defense.id}}">
                        <h3 class="badge {{defense.id}}" data-tooltip="{{defense.tooltip}}">{{localize defense.label}}</h3>
                        <span class="input score">{{defense.total}}</span>
                    </div>
                    {{/each}}
                </div>

                {{! Physical Defense --}}
                <div class="physical-defenses defense flexrow" data-defense="physical">
                    <div class="physical-title flexrow">
                        <h3 class="badge physical">Physical</h3>
                        <span class="input score">{{actor.system.defenses.physical.total}}</span>
                    </div>
                    <div class="physical-formula flexrow">
                        <span class="math">=</span>
                        <div class="flexcol">
                            <h4>Armor</h4>
                            <span class="input score">{{actor.system.defenses.armor.total}}</span>
                            <span class="subtitle">{{armorCategory}}</span>
                        </div>
                        <span class="math">+</span>
                        <div class="flexcol">
                            <h4>Dodge</h4>
                            <span class="input score">{{actor.system.defenses.dodge.total}}</span>
                            <span class="subtitle">Maximum {{systemData.defenses.dodge.max}}</span>
                        </div>
                        <span class="math">+</span>
                        <div class="flexcol">
                            <h4>Parry</h4>
                            <span class="input score">{{actor.system.defenses.parry.total}}</span>
                            <span class="subtitle">Maximum 6</span>
                        </div>
                        <span class="math">+</span>
                        <div class="flexcol">
                            <h4>Block</h4>
                            <span class="input score">{{actor.system.defenses.block.total}}</span>
                            <span class="subtitle">Maximum 6</span>
                        </div>
                    </div>
                </div>


                <div class="miscellaneous flexrow">
                    <div class="stride flexrow">
                        <span class="input total">{{actor.system.movement.stride}}</span>
                        <label>Stride</label>
                    </div>
                    <div class="engagement flexrow">
                        <span class="input total">{{actor.system.movement.engagement}}</span>
                        <label>Engagement</label>
                    </div>
                    <div class="wounds flexrow">
                        <span class="input total">{{actor.system.defenses.wounds.total}}</span>
                        <label>Healing</label>
                    </div>
                    <div class="madness flexrow">
                        <span class="input total">{{actor.system.defenses.madness.total}}</span>
                        <label>Rallying</label>
                    </div>
                </div>
            </section>

            {{!-- Resistances --}}
            <section class="damage-resistances flexrow">
                <h2 class="section-header divider">
                    <span></span>
                    <label>Resistances</label>
                    <span></span>
                </h2>
                {{#each resistances as |res cat|}}
                    <div class="category {{cat}}">
                        <h3 class="category-header divider">
                            <span></span>
                            <label>{{res.label}}</label>
                            <span></span>
                        </h3>
                        <ol class="resistances {{cat}}" data-resistance-type="{{cat}}">
                            {{#each res.resists as |r id|}}
                                <li class="resistance flexrow" data-resistance="{{id}}">
                                    <span class="input total">{{r.total}}</span>
                                    <label>{{r.label}}</label>
                                </li>
                            {{/each}}
                        </ol>
                    </div>
                {{/each}}
            </section>
        </div>

        {{!-- Skills Tab --}}
        <div class="tab skills flexcol" data-group="primary" data-tab="skills">
            {{> "systems/crucible/templates/sheets/partials/actor-skills.hbs"}}
        </div>

        {{!-- Talents Tab --}}
        <div class="tab talents flexcol" data-group="primary" data-tab="talents">
        {{#each items.talents as |section s|}}
            {{#if section.items.length}}
            <header class="items-header flexrow">
                <div class="item-name flexrow">
                    <h4>{{section.label}}</h4>
                </div>
            </header>
            <ol class="items-list">
                {{#each section.items as |item id|}}
                    <li class="line-item {{item.cssClass}}" data-item-id="{{item._id}}">
                        <div class="name">
                            <img class="icon" src="{{item.img}}" title="{{item.name}}">
                            <h4>{{item.name}}</h4>
                        </div>
                        <div class="tags">
                            {{#each item.tags}}
                                {{#if this}}<span class="tag">{{this}}</span>{{/if}}
                            {{/each}}
                        </div>
                        <div class="controls">
                            <a class="control" data-action="itemEdit" data-tooltip="Edit Talent">
                                <i class="fas fa-edit"></i>
                            </a>
                            <a class="control" data-action="itemDelete" data-tooltip="Delete Talent">
                                <i class="fas fa-trash"></i>
                            </a>
                        </div>
                    </li>
                {{/each}}
            </ol>
            {{/if}}
        {{/each}}
        </div>

        {{!-- Inventory Tab --}}
        {{> "systems/crucible/templates/sheets/partials/actor-inventory.hbs"}}

        {{!-- Grimoire Tab --}}
        {{> "systems/crucible/templates/sheets/partials/actor-grimoire.hbs"}}

        {{!-- Biography Tab --}}
        {{> "systems/crucible/templates/sheets/partials/actor-biography.hbs"}}
    </section>
</form>
