<form class="{{cssClass}} flexcol" autocomplete="off">

    {{!-- Sheet Header --}}
    <header class="sheet-header flexrow">
        <img class="profile" src="{{source.img}}" title="{{source.name}}" data-edit="img">
        <div class="header-content flexrow">
            <h1 class="title">
                <input name="name" type="text" value="{{source.name}}" placeholder="Item Name">
            </h1>
        </div>
    </header>

    {{!-- Sheet Body --}}
    <section class="sheet-body flexcol">
        <div class="form-group stacked">
            <h3>{{localize "ANCESTRY.Description"}}</h3>
            <textarea name="system.description" rows="4">{{source.system.description}}</textarea>
        </div>

        <h3>{{localize "ANCESTRY.Abilities"}}</h3>
        <div class="form-group ability">
            <label>{{localize "ANCESTRY.PrimaryAbility"}}</label>
            <select name="system.primary">
                {{selectOptions abilities selected=source.system.primary labelAttr="label"}}
            </select>
        </div>

        <div class="form-group ability">
            <label>{{localize "ANCESTRY.SecondaryAbility"}}</label>
            <select name="system.secondary">
                {{selectOptions abilities selected=source.system.secondary labelAttr="label"}}
            </select>
            <p class="hint">{{localize "ANCESTRY.AbilityHint"}}</p>
        </div>

        <h3>{{localize "ANCESTRY.Resistances"}}</h3>
        <div class="form-group">
            <label>{{localize "ANCESTRY.Resistance"}}</label>
            <select name="system.resistance">
                {{selectOptions damageTypes selected=source.system.resistance blank="None" labelAttr="label"}}
            </select>
        </div>

        <div class="form-group">
            <label>{{localize "ANCESTRY.Vulnerability"}}</label>
            <select name="system.vulnerability">
                {{selectOptions damageTypes selected=source.system.vulnerability blank="None" labelAttr="label"}}
            </select>
            <p class="hint">{{localize "ANCESTRY.ResistanceHint"}}</p>
        </div>

        {{#if editable}}
        <footer class="sheet-footer">
            <button class="frame-brown" type="submit">
                <i class="fas fa-save"></i> {{localize "Save Changes"}}
            </button>
        </footer>
        {{/if}}
    </section>
</form>
