<form class="{{cssClass}} flexcol" autocomplete="off">

    {{!-- Sheet Header --}}
    <header class="sheet-header flexrow">
        <img class="profile" src="{{source.img}}" title="{{source.name}}" data-edit="img">
        <h1 class="title">
            <input name="name" type="text" value="{{source.name}}" placeholder="Archetype Name"/>
        </h1>
    </header>

    {{!-- Sheet Body --}}
    <section class="sheet-body flexcol">
        <div class="form-group stacked">
            <h3>{{localize "Description"}}</h3>
            {{#if editable}}
                <textarea name="system.description" rows="3">{{{source.system.description}}}</textarea>
            {{else}}
                <div class="description">{{{source.system.description}}}</div>
            {{/if}}
        </div>

        <div class="form-group stacked">
            <h3>
                {{localize "ARCHETYPE.Abilities"}}
                <span class="ability-sum"></span>
            </h3>
            <div class="form-fields abilities">
                {{#each abilities as |a|}}
                <label>
                    <input type="number" name="system.abilities.{{a.id}}" placeholder="-" value="{{a.value}}">
                    {{a.label}}
                </label>
                {{/each}}
            </div>
        </div>

        <div class="form-group stacked">
            <h3>{{localize "ARCHETYPE.Talents"}}</h3>
            <div class="talents flexcol">
                {{#each talents}}{{{this}}}{{/each}}
                {{#if editable}}
                <div class="droppable">
                    <p class="hint">{{localize "ARCHETYPE.AddTalentHint"}}</p>
                </div>
                {{/if}}
            </div>
        </div>

        {{#if editable}}
        <footer class="sheet-footer">
            <button class="frame-brown" type="submit">
                <i class="fas fa-save"></i> {{localize "Save Changes"}}
            </button>
        </footer>
        {{/if}}
    </section>
</form>
