<form class="{{cssClass}} flexcol" autocomplete="off">

    {{!-- Sheet Header --}}
    <header class="sheet-header flexrow">
        <img class="profile" src="{{source.img}}" title="{{source.name}}" data-edit="img"/>
        <div class="header-content flexrow">
            <h1 class="title">
                <input name="name" type="text" value="{{source.name}}" placeholder="Item Name"/>
            </h1>
        </div>
    </header>

    {{!-- Sheet Body --}}
    <section class="sheet-body">
        <div class="form-group stacked">
            <label>Ability Scaling ({{abilitySum}})</label>
            <div class="form-fields abilities">
                {{#each abilities as |ability id|}}
                <label>
                    <input type="number" name="system.abilities.{{id}}" placeholder="-"
                           value="{{lookup @root.source.system.abilities id}}">
                    {{ability.label}}
                </label>
                {{/each}}
            </div>
        </div>

        <div class="form-group stacked">
            <label>Resistance Scaling ({{resistanceSum}})</label>
            <div class="form-fields resistances">
                {{#each damageTypes as |damage id|}}
                    <label>
                        <input type="number" name="system.resistances.{{id}}" value="{{lookup @root.source.system.resistances id}}">
                        {{damage.label}}
                    </label>
                {{/each}}
            </div>
        </div>

        <footer class="sheet-footer">
            <button type="submit"><i class="fas fa-save"></i> {{localize "Submit"}}</button>
        </footer>
    </section>
</form>
