<form class="{{cssClass}} flexcol" autocomplete="off">

    {{!-- Sheet Header --}}
    <header class="sheet-header flexrow">
        <img class="profile" src="{{source.img}}" title="{{source.name}}" data-edit="img"/>
        <h1 class="title">
            <input name="name" type="text" value="{{source.name}}" placeholder="Item Name"/>
        </h1>
        <div class="tags header-tags">
            {{#each tags as |label tag|}}
            <span class="tag" data-tag="{{tag}}">{{label}}</span>
            {{/each}}
        </div>
    </header>

    {{!-- Sheet Tabs --}}
    <nav class="sheet-tabs tabs">
        <a class="item" data-tab="config"><i class="fa-solid fa-cogs"></i> Configuration</a>
        <a class="item" data-tab="actions"><i class="fa-solid fa-bullseye"></i> Actions</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="tab sheet-body flexcol" data-tab="config">
        <div class="form-group">
            <label>Category</label>
            <div class="form-fields">
                <select name="system.category">
                    {{selectOptions categories selected=source.system.category labelAttr="label"}}
                </select>
            </div>
        </div>

        <div class="form-group">
            <label>Armor Defense</label>
            <div class="form-fields">
                <label>Base</label>
                {{numberInput source.system.armor.base name="system.armor.base"
                              min=category.armor.min max=category.armor.max step=1}}
                <label>Bonus</label>
                <input type="number" value="{{item.system.armor.bonus}}" disabled/>
            </div>
        </div>

        <div class="form-group">
            <label>Dodge Defense</label>
            <div class="form-fields">
                <label>Base</label>
                {{numberInput source.system.dodge.base name="system.dodge.base"
                              min=category.dodge.min max=category.dodge.max step=1}}
                <label>Bonus</label>
                <input type="text" value="{{item.system.dodge.start}} Dexterity" disabled/>
            </div>
        </div>

        <div class="form-group">
            <label>Quality</label>
            <div class="form-fields">
                <select name="system.quality">
                    {{selectOptions qualities selected=source.system.quality labelAttr="label"}}
                </select>
                <label class="checkbox">
                    <input type="checkbox" name="system.broken" {{checked source.system.broken}}/> Broken
                </label>
            </div>
        </div>

        <div class="form-group">
            <label>Enchantment</label>
            <div class="form-fields">
                <select name="system.enchantment">
                    {{selectOptions enchantments selected=source.system.enchantment labelAttr="label"}}
                </select>
            </div>
        </div>

        <fieldset>
            <legend>Armor Status</legend>
            <div class="form-fields item-properties">
                <label class="checkbox">
                    <input type="checkbox" name="system.equipped" {{checked source.system.equipped}}>
                    Equipped
                </label>
                <label class="checkbox">
                    <input type="checkbox" name="system.broken" {{checked source.system.broken}}>
                    Broken
                </label>
            </div>
        </fieldset>

        <fieldset>
            <legend><h3>Armor Properties</h3></legend>
            <div class="form-fields item-properties">
                {{#each properties as |prop id|}}
                <label class="checkbox">
                    <input type="checkbox" name="{{prop.name}}" {{checked prop.checked}}/> {{prop.label}}
                </label>
                {{/each}}
            </div>
        </fieldset>

        <fieldset>
            <legend><h3>Physical Details</h3></legend>
            <div class="form-group">
                <label>Inventory</label>
                <div class="form-fields">
                    <label>Quantity</label>
                    <input type="number" step="any" name="system.quantity" value="{{source.system.quantity}}"/>
                    <label>Weight</label>
                    <input type="number" step="any" name="system.weight" value="{{source.system.weight}}"/>
                </div>
            </div>

            <div class="form-group">
                <label>Value</label>
                <div class="form-fields">
                    <label>Price</label>
                    <input type="number" step="any" name="system.price" value="{{source.system.price}}"/>
                    <label>Scaled</label>
                    <input type="number" value="{{item.system.price}}" disabled>
                </div>
            </div>
        </fieldset>
    </section>

    {{!-- Actions Tab --}}
    <section class="tab sheet-body flexcol" data-tab="actions">
        <fieldset>
            <legend>
                <h3>Actions</h3>
                <a class="button icon" data-action="actionAdd" data-tooltip="TALENT.Actions.Add">
                    <i class="fa-solid fa-plus"></i>
                </a>
            </legend>
            {{#each actions as |action|}}
                <div class="action line-item flexrow" data-action-id="{{action.id}}">
                    <img class="icon" src="{{action.img}}">
                    <h4 class="title">{{action.name}}</h4>
                    <div class="controls">
                        <a class="button icon" data-action="actionEdit" data-tooltip="TALENT.Actions.Edit">
                            <i class="fa-solid fa-edit"></i>
                        </a>
                        <a class="button icon" data-action="actionDelete" data-tooltip="TALENT.Actions.Delete">
                            <i class="fa-solid fa-trash"></i>
                        </a>
                    </div>
                </div>
            {{/each}}
        </fieldset>
    </section>
</form>
