<form class="{{cssClass}} flexcol" autocomplete="off">

    {{!-- Sheet Header --}}
    <header class="sheet-header flexrow">
        <img class="profile" src="{{source.img}}" alt="{{source.name}}" data-edit="img">
        <h1 class="title">
            {{formInput item.schema.fields.name value=source.name placeholder="Item Name"}}
        </h1>
        <div class="tags header-tags">
            {{#each tags as |label tag|}}
            <span class="tag" data-tag="{{tag}}">{{label}}</span>
            {{/each}}
        </div>
    </header>

    {{!-- Sheet Tabs --}}
    <nav class="sheet-tabs tabs">
        <a class="item" data-tab="config"><i class="fa-solid fa-cogs"></i> {{localize "ARMOR.SHEET.CONFIGURATION"}}</a>
        <a class="item" data-tab="actions"><i class="fa-solid fa-bullseye"></i> {{localize "ARMOR.SHEET.ACTIONS"}}</a>
    </nav>

    {{!-- Configuration Tab --}}
    <section class="tab sheet-body flexcol" data-tab="config">
        <fieldset>
            <legend>{{localize "ARMOR.SHEET.TYPE"}}</legend>
            {{formField fields.category value=source.system.category}}
            {{formField fields.quality value=source.system.quality}}
            {{formField fields.enchantment value=source.system.enchantment}}
        </fieldset>
        <fieldset>
            <legend>{{localize "ARMOR.SHEET.DEFENSES"}}</legend>
            {{formField fields.armor value=source.system.armor widget=armorWidget}}
            {{formField fields.dodge value=source.system.dodge widget=dodgeWidget}}
        </fieldset>
        {{formField fields.properties value=item.system.properties widget=propertiesWidget}}
        <fieldset class="item-fieldset item-equipment">
            <legend>{{localize "ARMOR.SHEET.EQUIPMENT"}}</legend>
            {{formField fields.equipped value=source.system.equipped}}
            {{formField fields.broken value=source.system.broken}}
            {{formField fields.quantity value=source.system.quantity classes="slim"}}
            {{formField fields.weight value=source.system.weight classes="slim"}}
            {{formField fields.price value=source.system.price classes="slim"}}
            {{formField scaledPrice value=item.system.price classes="slim" disabled=true}}
        </fieldset>
    </section>

    {{!-- Actions Tab --}}
    <section class="tab sheet-body flexcol" data-tab="actions">
        <fieldset>
            <legend>
                <h3>Actions</h3>
                <a class="button icon" data-action="actionAdd" data-tooltip="TALENT.Actions.Add">
                    <i class="fa-solid fa-plus"></i>
                </a>
            </legend>
            {{#each actions as |action|}}
                <div class="action line-item flexrow" data-action-id="{{action.id}}">
                    <img class="icon" src="{{action.img}}" alt="{{action.name}}">
                    <h4 class="title">{{action.name}}</h4>
                    <div class="controls">
                        <a class="button icon" data-action="actionEdit" data-tooltip="TALENT.Actions.Edit">
                            <i class="fa-solid fa-edit"></i>
                        </a>
                        <a class="button icon" data-action="actionDelete" data-tooltip="TALENT.Actions.Delete">
                            <i class="fa-solid fa-trash"></i>
                        </a>
                    </div>
                </div>
            {{/each}}
        </fieldset>
    </section>
</form>
