<form class="{{cssClass}} flexcol" autocomplete="off">

    {{!-- Sheet Header --}}
    <header class="sheet-header flexrow">
        <img class="profile" src="{{source.img}}" title="{{source.name}}" data-edit="img"/>
        <div class="header-content flexrow">
            <h1 class="title">
                <input name="name" type="text" value="{{source.name}}" placeholder="Item Name"/>
            </h1>
        </div>
    </header>

    {{!-- Sheet Body --}}
    <section class="sheet-body flexcol">
        <div class="form-group stacked">
            <h3>{{localize "BACKGROUND.Description"}}</h3>
            <textarea name="system.description" rows="3">{{source.system.description}}</textarea>
        </div>

        <div class="form-group stacked skills">
            <h3>{{localize "BACKGROUND.Skills"}}</h3>
            <div class="form-fields">
                {{#each skills}}
                <label class="checkbox">
                    <input type="checkbox" name="{{this.id}}" {{checked this.checked}}/>
                    {{this.name}}
                </label>
                {{/each}}
            </div>
            <p class="hint">{{localize "BACKGROUND.SkillsHint"}}</p>
        </div>

        <div class="form-group stacked">
            <h3>{{localize "BACKGROUND.Talents"}}</h3>
            <div class="talents">
                {{#each talents}}{{{this}}}{{else}}
                <div class="droppable">
                    <p class="hint">{{localize "BACKGROUND.AddTalentHint"}}</p>
                </div>
                {{/each}}
            </div>
        </div>

        {{#if editable}}
        <footer class="sheet-footer">
            <button class="frame-brown" type="submit">
                <i class="fas fa-save"></i> {{localize "Save Changes"}}
            </button>
        </footer>
        {{/if}}
    </section>
</form>
