<form class="{{cssClass}} flexrow" autocomplete="off">

    {{!-- Left Sidebar --}}
    {{> "systems/crucible/templates/sheets/partials/actor-sidebar.hbs"}}

    {{!-- Main Content --}}
    <section class="sheet-body flexcol">

        {{!-- Sheet Header --}}
        <header class="sheet-header flexcol">
            <div class="title flexrow">
                <h1 class="charname">
                    <input name="name" type="text" value="{{actor.name}}" placeholder="Actor Name">
                </h1>
                {{#if incomplete.level}}
                <a class="button control level-up" data-action="levelUp" data-tooltip="{{incomplete.levelTooltip}}">
                    <i class="fa-solid {{incomplete.levelIcon}}"></i>
                </a>
                {{/if}}
                {{#if showMilestones}}
                <div class="advancement flexrow" data-tooltip="WALKTHROUGH.NextLevel">
                    <div class="bar"><div class="fill" style="width:{{actor.system.advancement.pct}}%"></div></div>
                    <input type="number" name="system.advancement.progress" value="{{actor.system.advancement.progress}}"/>
                    <span class="slash"></span>
                    <span class="input">{{actor.system.advancement.next}}</span>
                </div>
                {{/if}}
                <label>{{localize "ACTOR.Level"}}</label>
                <input class="level" type="number" name="system.advancement.level" value="{{source.system.advancement.level}}"
                       {{#if isL0}}disabled{{/if}}>
            </div>
            <div class="subtitle flexrow">
                <h2 class="ancestry tag flexrow {{#if incomplete.ancestry}}inactive" data-tooltip="WALKTHROUGH.AddAncestry{{/if}}"
                    data-action="viewAncestry">
                    {{ancestryName}}
                    {{#if incomplete.ancestry}}
                    <i class="control incomplete fa-solid fa-plus-circle" data-tooltip="ANCESTRY.Browse"></i>
                    {{else if isL0}}
                    <i class="control fas fa-times-circle" data-action="clearAncestry" data-tooltip="ANCESTRY.Clear"></i>
                    {{/if}}
                </h2>
                <h2 class="background tag flexrow {{#if incomplete.background}}inactive" data-tooltip="WALKTHROUGH.AddBackground"{{/if}}"
                    data-action="viewBackground">
                    {{backgroundName}}
                    {{#if incomplete.background}}
                    <i class="control incomplete fa-solid fa-plus-circle" data-tooltip="BACKGROUND.Browse"></i>
                    {{else if isL0}}
                    <i class="control fas fa-times-circle" data-action="clearBackground" data-tooltip="BACKGROUND.Clear"></i>
                    {{/if}}
                </h2>
                {{#if actor.system.details.signatureName}}
                <span class="flex1"></span>
                <h2 class="signature tag">{{actor.system.details.signatureName}}</h2>
                {{/if}}
            </div>
        </header>

        {{!-- Sheet Navigation --}}
        <nav class="sheet-navigation tabs" data-group="primary">
            <a class="item badge attributes" data-tab="attributes" {{#if incomplete.abilities}}data-tooltip="WALKTHROUGH.AbilityPoints"{{/if}}>
            {{~#if incomplete.abilities~}}<i class="incomplete fas fa-exclamation-triangle"></i>{{/if}}
            {{localize "SHEET.TABS.Attributes"}}</a>
            <a class="item badge skills" data-tab="skills" {{#if incomplete.skills}}data-tooltip="WALKTHROUGH.SkillPoints"{{/if}}>
            {{~#if incomplete.skills~}}<i class="incomplete fas fa-exclamation-triangle"></i>{{/if}}
            {{localize "SHEET.TABS.Skills"}}</a>
            <a class="item badge talents" data-tab="talents" {{#if incomplete.talents}}data-tooltip="WALKTHROUGH.TalentPoints"{{/if}}>
            {{~#if incomplete.talents~}}<i class="incomplete fas fa-exclamation-triangle"></i>{{/if}}
            {{localize "SHEET.TABS.Talents"}}</a>
            <a class="item badge inventory" data-tab="inventory">{{localize "SHEET.TABS.Inventory"}}</a>
            <a class="item badge spells" data-tab="spells">{{localize "SHEET.TABS.Grimoire"}}</a>
            <a class="item badge biography" data-tab="biography">{{localize "SHEET.TABS.Biography"}}</a>
        </nav>

        {{!-- Attributes Tab --}}
        <div class="tab attributes flexcol" data-group="primary" data-tab="attributes">

            {{!-- Character Resources --}}
            <section class="resources flexrow">
                <h2 class="section-header divider">
                    <span></span><label>{{localize "ATTRIBUTES.Resources"}}</label><span></span>
                    <a class="button section-lock" data-section="resources">
                        <i class="fas {{#if sectionLocks.resources}}fa-lock{{else}}fa-unlock{{/if}}"></i>
                    </a>
                </h2>
                {{#each resources as |resource|}}
                <div class="resource {{resource.id}}">
                    <h3 class="category-header divider" data-tooltip="{{resource.tooltip}}">
                        <span></span>
                        <label>{{resource.label}}</label>
                        <span></span>
                    </h3>
                    <div class="resource-values flexrow">
                        <input type="number" name="system.resources.{{resource.id}}.value" value="{{resource.value}}" placeholder="0">
                        <span class="slash"></span>
                        <span class="input resource-max">{{resource.max}}</span>
                        <div class="bar" style="background: {{resource.color.bg}}">
                            <div class="fill" style="width:{{resource.pct}}%; background: {{resource.color.fill}}"></div>
                        </div>
                    </div>
                </div>
                {{/each}}
            </section>

            {{!-- Abilities --}}
            <section class="abilities">
                <h2 class="section-header divider">
                    <span></span>
                    <label>{{localize "ATTRIBUTES.Abilities"}}</label>
                    <span></span>
                    <a class="button section-lock" data-section="abilities">
                        <i class="fas {{#if sectionLocks.abilities}}fa-lock{{else}}fa-unlock{{/if}}"></i>
                    </a>
                </h2>
                {{#unless sectionLocks.abilities}}
                <div class="point-pools flexrow">
                    {{#if isL0}}
                    <label>{{localize "SHEET.Available"}}</label>
                    <span class="value highlight">{{points.ability.pool}}</span>
                    <label>{{localize "SHEET.Spent"}}</label>
                    <span class="value highlight">{{points.ability.bought}}</span>
                    {{else}}
                    <label>{{localize "SHEET.Available"}}</label>
                    <span class="value highlight">{{points.ability.available}}</span>
                    <label>{{localize "SHEET.Spent"}}</label>
                    <span class="value highlight">{{points.ability.spent}}</span>
                    {{/if}}
                </div>
                {{/unless}}
                <ol class="ability-scores">
                    {{#each abilityScores as |ability|}}
                    <li class="ability flexrow" data-ability="{{ability.id}}">
                        <h4 class="label badge {{ability.id}}">{{ability.label}}</h4>
                        {{#unless ../sectionLocks.abilities}}
                        <div class="controls flexcol">
                            <a class="control {{#unless ability.canIncrease}}inactive{{/unless}} increase" title="Ability Increase" data-action="abilityIncrease">
                                <i class="fas fa-caret-up"></i>
                            </a>
                            <a class="control {{#unless ability.canDecrease}}inactive{{/unless}} decrease" title="Ability Decrease" data-action="abilityDecrease">
                                <i class="fas fa-caret-down"></i>
                            </a>
                        </div>
                        {{/unless}}
                        <span class="input score">{{ability.value}}</span>
                    </li>
                    {{/each}}
                </ol>
            </section>

            {{!-- Defenses --}}
            <section class="defenses">
                <h2 class="section-header divider">
                    <span></span>
                    <label>{{localize "ATTRIBUTES.Defenses"}}</label>
                    <span></span>
                    <a class="button section-lock" data-section="defenses">
                        <i class="fas {{#if sectionLocks.defenses}}fa-lock{{else}}fa-unlock{{/if}}"></i>
                    </a>
                </h2>

                {{! Save Defenses --}}
                <div class="save-defenses">
                    {{#each saveDefenses as |defense|}}
                    <div class="defense save flexrow" data-defense="{{defense.id}}">
                        <h3 class="badge {{defense.id}}" data-tooltip="{{defense.tooltip}}">{{localize defense.label}}</h3>
                        <span class="input score">{{defense.total}}</span>
                    </div>
                    {{/each}}
                </div>

                {{! Physical Defense --}}
                <div class="physical-defenses defense flexrow" data-defense="physical">
                    <div class="physical-title flexrow">
                        <h3 class="badge physical">{{physicalDefenses.total.label}}</h3>
                        <span class="input score">{{physicalDefenses.total.value}}</span>
                        <span class="subtitle">{{physicalDefenses.total.subtitle}}</span>
                    </div>
                    <div class="physical-formula flexrow">
                        <span class="math">=</span>
                        <div class="flexcol">
                            <h4>{{physicalDefenses.armor.label}}</h4>
                            <span class="input score">{{physicalDefenses.armor.value}}</span>
                            <span class="subtitle">{{physicalDefenses.armor.pct}}%</span>
                        </div>
                        <span class="math">+</span>
                        <div class="flexcol">
                            <h4>{{physicalDefenses.dodge.label}}</h4>
                            <span class="input score">{{physicalDefenses.dodge.value}}</span>
                            <span class="subtitle">{{physicalDefenses.dodge.pct}}%</span>
                        </div>
                        <span class="math">+</span>
                        <div class="flexcol">
                            <h4>{{physicalDefenses.parry.label}}</h4>
                            <span class="input score">{{physicalDefenses.parry.value}}</span>
                            <span class="subtitle">{{physicalDefenses.parry.pct}}%</span>
                        </div>
                        <span class="math">+</span>
                        <div class="flexcol">
                            <h4>{{physicalDefenses.block.label}}</h4>
                            <span class="input score">{{physicalDefenses.block.value}}</span>
                            <span class="subtitle">{{physicalDefenses.block.pct}}%</span>
                        </div>
                    </div>
                </div>

                <div class="miscellaneous flexrow">
                    <div class="stride flexrow">
                        <label>{{localize "DEFENSES.Stride"}}</label>
                        <span class="input total">{{actor.system.movement.stride}}</span>
                    </div>
                    <div class="engagement flexrow">
                        <label>{{localize "DEFENSES.Engagement"}}</label>
                        <span class="input total">{{actor.system.movement.engagement}}</span>
                    </div>
                    <div class="wounds flexrow">
                        <label>{{localize "DEFENSES.Healing"}}</label>
                        <span class="input total">{{actor.system.defenses.wounds.total}}</span>
                    </div>
                    <div class="madness flexrow">
                        <label>{{localize "DEFENSES.Rallying"}}</label>
                        <span class="input total">{{actor.system.defenses.madness.total}}</span>
                    </div>
                </div>
            </section>

            {{!-- Resistances --}}
            <section class="damage-resistances flexrow">
                <h2 class="section-header divider">
                    <span></span>
                    <label>{{localize "ATTRIBUTES.Resistances"}}</label>
                    <span></span>
                    <a class="button section-lock" data-section="resistances">
                        <i class="fas {{#if sectionLocks.resistances}}fa-lock{{else}}fa-unlock{{/if}}"></i>
                    </a>
                </h2>
                {{#each resistances as |res cat|}}
                <div class="category {{cat}}">
                    <h3 class="category-header divider">
                        <span></span>
                        <label>{{res.label}}</label>
                        <span></span>
                    </h3>
                    <ol class="resistances {{cat}}" data-resistance-type="{{cat}}">
                        {{#each res.resists as |r id|}}
                        <li class="resistance flexrow" data-resistance="{{id}}">
                            <span class="input total">{{r.total}}</span>
                            <label>{{r.label}}</label>
                            <input type="number" name="system.resistances.{{id}}.bonus" value="{{r.bonus}}"
                               {{#if @root.sectionLocks.resistances}}disabled{{/if}}/>
                        </li>
                        {{/each}}
                    </ol>
                </div>
                {{/each}}
            </section>
        </div>

        {{!-- Skills Tab --}}
        <div class="tab skills flexcol" data-group="primary" data-tab="skills">
            <div class="point-pools flexrow">
                <label>{{localize "SHEET.Available"}}</label>
                <span class="value highlight">{{points.skill.available}}</span>
                <label>{{localize "SHEET.Spent"}}</label>
                <span class="value highlight">{{points.skill.spent}}</span>
            </div>
            {{> "systems/crucible/templates/sheets/partials/actor-skills.hbs"}}
        </div>

        {{!-- Talents Tab --}}
        <div class="tab talents flexcol" data-group="primary" data-tab="talents">
            <div class="point-pools flexrow">
                <a class="button control" data-action="talentTree">{{talentTreeButton}}</a>
                <label>{{localize "SHEET.Available"}}</label>
                <span class="value highlight">{{points.talent.available}}</span>
                <label>{{localize "SHEET.Spent"}}</label>
                <span class="value highlight">{{points.talent.spent}}</span>
                <a class="button control reset" data-action="talentReset">{{localize "SHEET.Reset"}}</a>
            </div>

            {{#each items.talents as |section s|}}
            {{#if section.items.length}}
            <header class="items-header flexrow">
                <div class="item-name flexrow">
                    <h4>{{section.label}}</h4>
                </div>
            </header>
            <ol class="items-list">
                {{#each section.items as |item id|}}
                <li class="line-item {{item.cssClass}}" data-item-id="{{item._id}}">
                    <div class="name">
                        <img class="icon" src="{{item.img}}" title="{{item.name}}">
                        <h4>{{item.name}}</h4>
                    </div>
                    <div class="tags">
                        {{#each item.tags}}
                        {{#if this}}<span class="tag">{{this}}</span>{{/if}}
                        {{/each}}
                    </div>
                    <div class="controls">
                        <a class="control" data-action="itemEdit" title="Edit Item">
                            <i class="fas fa-edit"></i>
                        </a>
                    </div>
                </li>
                {{/each}}
            </ol>
            {{/if}}
            {{/each}}
        </div>

        {{!-- Inventory Tab --}}
        {{> "systems/crucible/templates/sheets/partials/actor-inventory.hbs"}}

        {{!-- Grimoire Tab --}}
        {{> "systems/crucible/templates/sheets/partials/actor-grimoire.hbs"}}

        {{!-- Biography Tab --}}
        {{> "systems/crucible/templates/sheets/partials/actor-biography.hbs"}}
    </section>
</form>
