<form class="{{cssClass}} flexcol" autocomplete="off">

    {{!-- Sheet Header --}}
    <header class="sheet-header flexrow">
        <img class="profile" src="{{source.img}}" title="{{source.name}}" data-edit="img"/>
        <h1 class="title">
            <input name="name" type="text" value="{{source.name}}" placeholder="Talent Name"/>
        </h1>
        <div class="tags header-tags">
            <label>Requirements:</label>
            {{#each tags as |tag|}}
            <span class="tag">{{tag}}</span>
            {{/each}}
        </div>
    </header>

    <!-- Configuration Tabs -->
    <nav class="sheet-tabs tabs">
        <a class="item" data-tab="summary"><i class="fas fa-scroll"></i> Summary</a>
        <a class="item" data-tab="config"><i class="fas fa-cogs"></i> Configuration</a>
    </nav>

    {{!-- Description Tab --}}
    <section class="tab sheet-body" data-tab="summary">
        <div class="description">
            {{{source.system.description}}}
        </div>

        {{#if hasActions}}
        <div class="form-group stacked">
            <h3 class="divider">
                <span></span><label>Actions</label><span></span>
            </h3>
            {{#each item.actions as |action|}}
            <div class="action" data-action-id="{{this.id}}">
                <div class="action-header line-item">
                    <div class="name flexrow">
                        <img class="icon" src="{{action.img}}" title="{{action.name}}"/>
                        <h4>{{action.name}}</h4>
                    </div>
                    <div class="tags">
                        {{#each action.getTags as |tags section|}}
                        <div class="tags" data-tag-type="action">
                            {{#each tags as |label tag|}}
                            <span class="tag" data-tag="{{tag}}">{{label}}</span>
                            {{/each}}
                        </div>
                        {{/each}}
                    </div>
                </div>
                {{#if action.condition}}
                <p class="condition">
                    <strong>{{localize "ACTION.Condition"}}:</strong> <em>{{action.condition}}</em>
                </p>
                {{/if}}
                <div class="description">{{{action.description}}}</div>
            </div>
            {{/each}}
        </div>
        {{/if}}
    </section>

    <!-- Configuration Tab -->
    <section class="tab sheet-body" data-tab="config">
        <div class="form-group">
            <label>Talent Node</label>
            <select name="system.node">
                {{selectOptions nodes selected=source.system.node blank=""}}
            </select>
        </div>

        <div class="form-group stacked">
            <label>Description</label>
            <textarea name="system.description" rows="3">{{source.system.description}}</textarea>
        </div>

        <div class="form-group stacked">
            <label>Actions JSON</label>
            <textarea name="system.actions" rows="24" data-dtype="JSON">{{actionsJSON}}</textarea>
        </div>

        <div class="form-group stacked">
            <label>Requirements JSON</label>
            <textarea name="system.requirements" rows="6" data-dtype="JSON">{{requirementsJSON}}</textarea>
        </div>

        <div class="form-group">
            <label>Arcane Rune</label>
            <div class="form-fields">
                <select name="system.rune">
                    {{selectOptions runes selected=source.system.rune blank=""}}
                </select>
            </div>
        </div>

        <div class="form-group">
            <label>Somatic Gesture</label>
            <div class="form-fields">
                <select name="system.gesture">
                    {{selectOptions gestures selected=source.system.gesture blank=""}}
                </select>
            </div>
        </div>

        <div class="form-group">
            <label>Metamagic Inflection</label>
            <div class="form-fields">
                <select name="system.inflection">
                    {{selectOptions inflections selected=source.system.inflection blank=""}}
                </select>
            </div>
        </div>

        <footer>
            <button type="submit">Save Changes</button>
        </footer>
    </section>
</form>
