<form class="{{cssClass}} flexcol" autocomplete="off">

    {{!-- Sheet Header --}}
    <header class="sheet-header flexrow">
        <img class="profile" src="{{source.img}}" title="{{source.name}}" data-edit="img"/>
        <h1 class="title">
            <input name="name" type="text" value="{{source.name}}" placeholder="Talent Name"/>
        </h1>
        <div class="tags header-tags">
            <label>Requirements:</label>
            {{#each tags as |tag|}}
            <span class="tag">{{tag}}</span>
            {{/each}}
        </div>
    </header>

    <!-- Configuration Tabs -->
    <nav class="sheet-tabs tabs">
        <a class="item" data-tab="summary"><i class="fas fa-scroll"></i> Summary</a>
        <a class="item" data-tab="config"><i class="fas fa-cogs"></i> Configuration</a>
    </nav>

    {{!-- Description Tab --}}
    <section class="tab sheet-body flexcol" data-tab="summary">
        {{> "systems/crucible/templates/sheets/partials/talent-summary.hbs"}}
    </section>

    <!-- Configuration Tab -->
    <section class="tab sheet-body flexcol" data-tab="config">
        <div class="form-group">
            <label>Talent Node</label>
            <select name="system.node">
                {{selectOptions nodes selected=source.system.node blank=""}}
            </select>
        </div>

        <div class="form-group stacked">
            <label>Description</label>
            <textarea name="system.description" rows="3">{{source.system.description}}</textarea>
        </div>

        <div class="form-group stacked">
            <label>Actions JSON</label>
            <textarea name="system.actions" rows="24" data-dtype="JSON">{{actionsJSON}}</textarea>
        </div>

        <div class="form-group stacked">
            <label>Requirements JSON</label>
            <textarea name="system.requirements" rows="6" data-dtype="JSON">{{requirementsJSON}}</textarea>
        </div>

        <div class="form-group">
            <label>Arcane Rune</label>
            <div class="form-fields">
                <select name="system.rune">
                    {{selectOptions runes selected=source.system.rune blank=""}}
                </select>
            </div>
        </div>

        <div class="form-group">
            <label>Somatic Gesture</label>
            <div class="form-fields">
                <select name="system.gesture">
                    {{selectOptions gestures selected=source.system.gesture blank=""}}
                </select>
            </div>
        </div>

        <div class="form-group">
            <label>Metamagic Inflection</label>
            <div class="form-fields">
                <select name="system.inflection">
                    {{selectOptions inflections selected=source.system.inflection blank=""}}
                </select>
            </div>
        </div>

        {{#if editable}}
            <footer class="sheet-footer">
                <button class="frame-brown" type="submit">
                    <i class="fas fa-save"></i> {{localize "Save Changes"}}
                </button>
            </footer>
        {{/if}}
    </section>
</form>
