<form class="{{cssClass}} flexcol" autocomplete="off">

    {{!-- Sheet Header --}}
    <header class="sheet-header flexrow">
        <img class="profile" src="{{source.img}}" title="{{source.name}}" data-edit="img"/>
        <h1 class="title">
            <input name="name" type="text" value="{{source.name}}" placeholder="Talent Name"/>
        </h1>
        <div class="tags header-tags">
            <label>Requirements:</label>
            {{#each tags as |tag|}}
            <span class="tag">{{tag}}</span>
            {{/each}}
        </div>
    </header>

    <!-- Configuration Tabs -->
    <nav class="sheet-tabs tabs">
        <a class="item" data-tab="summary"><i class="fa-solid fa-scroll"></i> Summary</a>
        <a class="item" data-tab="config"><i class="fa-solid fa-cogs"></i> Configuration</a>
        {{#if showHooks}}
        <a class="item" data-tab="hooks"><i class="fa-solid fa-code"></i> Hooks</a>
        {{/if}}
    </nav>

    {{!-- Description Tab --}}
    <section class="tab sheet-body flexcol" data-tab="summary">
        {{> "systems/crucible/templates/sheets/partials/talent-summary.hbs"}}
    </section>

    <!-- Configuration Tab -->
    <section class="tab sheet-body flexcol" data-tab="config">
        <div class="form-group">
            <label>Talent Node</label>
            <select name="system.node">
                {{selectOptions nodes selected=source.system.node blank=""}}
            </select>
        </div>

        <div class="form-group stacked">
            <label>Description</label>
            <textarea name="system.description" rows="3">{{source.system.description}}</textarea>
        </div>

        <fieldset>
            <legend>
                <h3>Actions</h3>
                <a class="button icon" data-action="actionAdd" data-tooltip="TALENT.Actions.Add">
                    <i class="fa-solid fa-plus"></i>
                </a>
            </legend>
            {{#each actions as |action|}}
            <div class="action line-item flexrow" data-action-id="{{action.id}}">
                <img class="icon" src="{{action.img}}">
                <h4 class="title">{{action.name}}</h4>
                <div class="controls">
                    <a class="button icon" data-action="actionEdit" data-tooltip="TALENT.Actions.Edit">
                        <i class="fa-solid fa-edit"></i>
                    </a>
                    <a class="button icon" data-action="actionDelete" data-tooltip="TALENT.Actions.Delete">
                        <i class="fa-solid fa-trash"></i>
                    </a>
                </div>
            </div>
            {{/each}}
        </fieldset>

        <fieldset>
            <legend><h3>Spellcraft</h3></legend>
            <div class="form-group">
                <label>Arcane Rune</label>
                <div class="form-fields">
                    <select name="system.rune">
                        {{selectOptions runes selected=source.system.rune blank=""}}
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label>Somatic Gesture</label>
                <div class="form-fields">
                    <select name="system.gesture">
                        {{selectOptions gestures selected=source.system.gesture blank=""}}
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label>Metamagic Inflection</label>
                <div class="form-fields">
                    <select name="system.inflection">
                        {{selectOptions inflections selected=source.system.inflection blank=""}}
                    </select>
                </div>
            </div>
        </fieldset>

        {{#if editable}}
        <footer class="sheet-footer">
            <button class="frame-brown" type="submit">
                <i class="fas fa-save"></i> {{localize "Save Changes"}}
            </button>
        </footer>
        {{/if}}
    </section>

    <!-- Hooks Tab -->
    {{#if showHooks}}
    <section class="tab sheet-body flexcol" data-tab="hooks">
        <p class="hint">Beware. This configuration tab involves advanced features for automating talent effects.
            Mis-configuring data on this tab can have serious consequences. Do not attempt to make changes here
            unless you are confident in your own knowledge.</p>

        {{#each actorHooks as |hook i|}}
        <div class="form-group stacked">
            <label>
                <code>{{localize hook.label}}</code>
                <button type="button" class="icon frame-brown delete-hook" data-action="deleteHook">
                    <i class="fa-solid fa-times"></i>
                </button>
            </label>
            <input type="hidden" name="system.actorHooks.{{i}}.hook" value="{{hook.hook}}">
            <textarea name="system.actorHooks.{{i}}.fn" rows="6">{{hook.fn}}</textarea>
        </div>
        {{/each}}

        <div class="form-group">
            <label>Add Hook</label>
            <div class="form-fields">
                <select name="addHook">
                    {{selectOptions actorHookChoices blank=""}}
                </select>
                <button type="button" class="icon frame-brown" data-action="addHook" data-tooltip="Add Hook">
                    <i class="fa-solid fa-plus"></i>
                </button>
            </div>
        </div>

        {{#if editable}}
        <footer class="sheet-footer">
            <button class="frame-brown" type="submit">
                <i class="fas fa-save"></i> {{localize "Save Changes"}}
            </button>
        </footer>
        {{/if}}
    </section>
    {{/if}}
</form>
