{{#if title}}
<h3 class="divider tooltip-title">{{title}}</h3>
{{/if}}
<div class="group-check" data-actor-id="{{group.id}}">
    {{#each results as |result|}}
    <div class="group-member line-item {{result.cssClass}}">
        <header class="action-header">
            <i class="icon {{result.icon}}"></i>
            <div class="title">
                <h4>{{result.actor.name}}</h4>
                <div class="tags">
                    {{crucibleTags result.tags}}
                </div>
            </div>
            {{#if result.hasValue}}
            <div class="hex check-value">
                <span class="value">{{result.total}}</span>
            </div>
            {{/if}}
        </header>
    </div>
    {{/each}}
</div>
