<div class="action line-item" data-effect-id="{{effect.id}}">
    <header class="action-header">
        <div class="icon-frame">
            <img class="icon" src="{{effect.img}}" alt="{{effect.name}}">
        </div>
        <div class="title">
            <h4>{{effect.name}}</h4>
            {{#unless tags.activation.empty}}
            <div class="tags">
                {{crucibleTags tags.activation}}
            </div>
            {{/unless}}
        </div>
    </header>
    {{#unless tags.statuses.empty}}
    <div class="tags" data-tag-type="status">
        {{crucibleTags tags.statuses}}
    </div>
    {{/unless}}
    <div class="description">{{{effect.description}}}</div>
</div>
