<div class="action line-item" data-effect-id="{{effect.id}}">
    <header class="action-header">
        <img class="icon" src="{{effect.img}}" alt="{{effect.name}}">
        <div class="title">
            <h4>{{effect.name}}</h4>
            {{#unless tags.activation.empty}}
            <div class="tags">
                {{#each tags.activation as |label tag|}}
                    <span class="tag" data-tag="{{tag}}">{{label}}</span>
                {{/each}}
            </div>
            {{/unless}}
        </div>
    </header>

    {{#unless tags.statuses.empty}}
    <div class="tags" data-tag-type="status">
    {{#each tags.statuses as |label tag|}}
        <span class="tag" data-tag="{{tag}}">{{label}}</span>
    {{/each}}
    </div>
    {{/unless}}

    <div class="description">{{{effect.description}}}</div>

</div>
