<div class="action line-item" data-item-id="{{item.id}}">
    <header class="action-header">
        <img class="icon" src="{{item.img}}" alt="{{item.name}}">
        <div class="title">
            <h4>{{item.name}}</h4>
            {{#unless tags.activation.empty}}
            <div class="tags">
                {{#each tags.activation as |label tag|}}
                <span class="tag" data-tag="{{tag}}">{{label}}</span>
                {{/each}}
            </div>
            {{/unless}}
        </div>
    </header>

    {{#unless tags.properties.empty}}
    <div class="tags" data-tag-type="weapon">
        {{#each tags.properties as |label tag|}}
        <span class="tag" data-tag="{{tag}}">{{label}}</span>
        {{/each}}
    </div>
    {{/unless}}

    <div class="description">{{{item.system.description.public}}}</div>

</div>
