<div class="action line-item" data-item-id="{{item.id}}">
    <header class="action-header">
        <div class="icon-frame">
            <img class="icon" src="{{item.img}}" alt="{{item.name}}">
        </div>
        <div class="title">
            <h4>{{item.name}}</h4>
            {{#unless tags.activation.empty}}
            <div class="tags">
                {{crucibleTags tags.activation}}
            </div>
            {{/unless}}
        </div>
    </header>

    {{#unless tags.properties.empty}}
    <div class="tags" data-tag-type="weapon">
        {{crucibleTags tags.properties}}
    </div>
    {{/unless}}

    <div class="description">{{{item.system.description.public}}}</div>

</div>
