<div class="action line-item" data-item-id="{{item.id}}">
    <header class="action-header">
        <div class="icon-frame">
            <img class="icon" src="{{item.img}}" alt="{{item.name}}">
        </div>
        <div class="title">
            <h4>{{item.name}}</h4>
            {{#unless tags.activation.empty}}
            {{crucibleTags tags.activation}}
            {{/unless}}
        </div>
    </header>

    {{#unless tags.properties.empty}}
    {{crucibleTags tags.properties tagType="weapon"}}
    {{/unless}}

    <div class="description">{{{item.system.description.public}}}</div>

</div>
