<section class="tab sheet-body flexcol {{tabs.description.cssClass}}"
         data-group="{{tabs.description.group}}" data-tab="{{tabs.description.id}}">
    <fieldset>
        <legend>Action Overview</legend>
        {{formField fields.id value=action.id}}
        {{formField fields.description value=action.description height=300}}
        {{formField fields.condition value=action.condition rows=2 stacked=true}}
    </fieldset>
</section>
