<fieldset class="effect">
    <div class="form-group">
        <label>{{fields.name.label}}</label>
        <div class="form-fields">
            {{formInput fields.name placeholder=effect.placeholder value=effect.name}}
            <button type="button" class="icon frame-brown fa-solid fa-trash"
                    data-action="deleteEffect" data-tooltip="ACTION.EFFECTS.Delete"></button>
        </div>
    </div>
    {{formGroup fields.scope value=effect.scope}}
    <div class="form-group">
        <label>{{fields.result.label}}</label>
        <div class="form-fields">
            {{formInput fields.result.fields.type value=effect.result.type}}
            <label class="checkbox">
                {{fields.resultAll.label}}
                {{formInput fields.result.fields.all value=effect.result.all}}
            </label>
        </div>
    </div>
    {{formGroup fields.statuses value=effect.statuses valueAttr="id" labelAttr="name" localize=true}}
    <div class="form-group">
        <label>{{fields.duration.label}}</label>
        <div class="form-fields">
            {{formInput fields.duration.fields.turns value=effect.duration.turns}}
            <label>{{fields.duration.fields.turns.label}}</label>
            {{formInput fields.duration.fields.rounds value=effect.duration.rounds}}
            <label>{{fields.duration.fields.rounds.label}}</label>
        </div>
        <p class="hint">{{fields.duration.hint}}</p>
    </div>
</fieldset>
