<fieldset class="effect">
    <div class="form-group">
        <label>Effect Name</label>
        <div class="form-fields">
            <input type="text" name="effects.{{i}}.name" value="{{effect.name}}" placeholder="{{effect.placeholder}}">
            <button type="button" class="icon frame-brown fa-solid fa-trash"
                    data-action="deleteEffect" data-tooltip="ACTION.EFFECTS.Delete"></button>
        </div>
    </div>
    <div class="form-group">
        <label>Effect Scope</label>
        <div class="form-fields">
            <select name="effects.{{i}}.scope" data-dtype="Number">
                {{selectOptions effectScopes selected=effect.scope}}
            </select>
        </div>
    </div>
    <div class="form-group">
        <label>Statuses</label>
        <div class="form-fields">
            <multi-select name="effects.{{i}}.statuses">
                {{selectOptions statuses selected=effect.statuses valueAttr="id" labelAttr="name" localize=true}}
            </multi-select>
        </div>
    </div>
    <div class="form-group">
        <label>Duration</label>
        <div class="form-fields">
            <input type="number" name="effects.{{i}}.duration.turns" min="1" step="1" value="{{effect.duration.turns}}">
            <label>Turns</label>
            <input type="number" name="effects.{{i}}.duration.rounds" min="1" step="1" value="{{effect.duration.rounds}}">
            <label>Rounds</label>
        </div>
        <p class="hint">Effects with duration in Turns expire at the end of the Actor's turn. Effects with duration in Rounds expire at the beginning of the Actor's turn.</p>
    </div>
</fieldset>
