<fieldset class="hook">
    <div class="form-group stacked">
        <label class="flexrow">
            <code>{{localize hook.label}}</code>
        </label>
        <button type="button" class="icon frame-brown fa-solid fa-times" data-action="deleteHook"></button>
        <input type="hidden" name="actionHooks.{{i}}.hook" value="{{hook.hook}}">
        <textarea name="actionHooks.{{i}}.fn" rows="6" {{#if disableHooks}}disabled{{/if}}>{{hook.fn}}</textarea>
    </div>
</fieldset>
